<style>
	form.center {
    text-align: right;
}
</style>


<div class="wrapper">

	  

	    <div class="main-panel" style="width: 100%;">

	    <div class="formatting">
	    	<form class="navbar-form center" role="search" method="GET"  >
				 	
					<div class="form-group  is-empty">
						<input type="text" class="form-control" name="search" placeholder="Type in a keyword">
						<span class="material-input"></span>
					</div>
					<button type="submit" class="btn btn-white  ">
						Search
						<i class="material-icons">search</i><div class="ripple-container"></div>
					</button>
			</form> 
		</div>


	   

			<div class="content">
				<div class="container-fluid">
					


					

					

					<div class="row">
						<div class="col-lg-12 col-md-12">

							<% if @interviews.length == 0 %>
								<div class="card-content center">	
	                    			<h4 class="title uppercase">No Interviews Found <br> </h4>
					 			 </div>
					 		<% end %>

								<div class="card-content">
									<div class="tab-content">
										<div class="tab-pane active" id="profile">

											<div class="row">


					<% @interviews.each do | interview | %>
						<div class="col-lg-12 col-md-12 col-sm-12">
							<div class="card card-stats">
								
					 <div class="card-content">
						<div class="row">
							<div class="col-md-7 col-sm-7" >
									<h4 class="title uppercase"><%= truncate(interview.title, :length => 50) %></h4>
									<p class="category"><%= truncate(interview.description , :length => 150) %></p>
									<!-- <h3 class="title">245 </h3>days left -->

									<br>
									<p class="category"><span class="text-success"><i class="fa fa-key"></i> interview token:   </span> <%= interview.interview_token %></p>

									<br>
									<!-- Your share button code -->
								  
								  <a href="https://twitter.com/intent/tweet?hashtags=dropque&url=https://<%=  interview.company.subdomain %>.dropque.com/applicants/<%= interview.interview_token %>&via=dropqueapp&text=<%= interview.title %> at <%=interview.company.name %>" class="twitter-share-button" data-show-count="false">Tweet</a>

								  <script type="IN/Share" data-url="https://<%=  interview.company.subdomain %>.dropque.com/applicants/<%= interview.interview_token %>"></script>

								  <div class="fb-share-button spacing" 
								    data-href="https://<%=  interview.company.subdomain %>.dropque.com/applicants/<%= interview.interview_token %>" 
								    data-layout="button"
								    data-mobile-iframe="true" >
								  </div>

									

							</div>
						    <div class="col-md-5 col-sm-5" >
									
					                <h4 class="title"><%= interview.company.name %></h4>
					                <a href="https://<%= interview.company.subdomain %>.dropque.com"> <%= interview.company.subdomain %>.dropque.com </a> <br>
					               

					             <% if interview.company.logo.file.nil? %>
				                 <%= image_tag('placeholder-company.png', style:"height: 40px; width: 60px;") %>
				                <% else %>
				                  <img src="<%= interview.company.logo.url %>" style="height: 40px; width: 60px;"  />
				                <% end %>

				                <br>

				                 <a href="https://<%=  interview.company.subdomain %>.dropque.com/applicants/<%= interview.interview_token %>"><button class="btn btn-dropque">Take Interview</button></a>

							 </div>
						</div>
									
					  </div>

								<div class="card-footer">
									<div class="row block-display">
										<div class="col-lg-4 col-md-4 col-sm-4">

												<div class="stats">
													<i class="material-icons">access_time</i> Created at <%=  interview.created_at.strftime("%d-%m-%Y") %>
												</div>

										</div>
										<div class="col-lg-4 col-md-4 col-sm-4">
											
											<div class="stats">
												<i class="material-icons">date_range</i> Updated at <%=  interview.updated_at.strftime("%d-%m-%Y") %>
											</div>


										</div class="col-lg-4 col-md-4 col-sm-4">

											<% if !interview.deadline.nil? %>
												<div class="stats">
													<i class="material-icons">cancel</i> Deadline: <%=  interview.deadline.strftime("%d-%m-%Y") %>
												</div>
											<% end %>

										<div>

										</div>
								    </div>
								</div>

							</div>
						</div>
					<% end %>


								
										</div>
											
										</div>
										<div class="tab-pane" id="messages">
											Tab space 2
										</div>
										<div class="tab-pane" id="settings">
											Tab space 3
										</div>
									</div>
								</div>
							<!-- </div> -->
						</div>


						<div class="center" ><%= will_paginate @interviews %></div>
				</div>
			</div>
		</div>
	</div>


 