	<!-- header -->

    	<header role="header" class="header-top" id="headere-top">

        

        	<div class="header-fixed-wrapper" role="header-fixed">

                <div class="container">

                    <!-- hgroup -->

                    <hgroup class="row">

                        <!-- logo -->

                        <div class="col-xs-5 col-sm-2 col-md-2 col-lg-2">

                            <h1>

                                <a href="#headere-top" title="Rooky"><%= image_tag('logo.png', alt:"Rooky", title: "Rooky" )%>
                                    </a>

                            </h1>

                        </div>

                        <!-- logo -->

                        <!-- nav -->

                        <nav role="navigation" class="col-xs-12 col-sm-10 col-md-10 col-lg-10 navbar navbar-default">

                            <div class="navbar-header">

                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">

                                    <span class="sr-only">Toggle navigation</span>

                                    <span class="icon-bar"></span>

                                    <span class="icon-bar"></span>

                                    <span class="icon-bar"></span>

                                </button>

                            </div>

                            <div id="navbar" class="navbar-collapse collapse">            

                                <ul class="nav navbar-nav">			          

                                    <li class="active"><a href="#headere-top" title="Home">Support</a></li>
                                </ul>

                            </div>

                        </nav>

                        <!-- nav -->

                    </hgroup>

                    <!-- hgroup -->

                  </div>

            </div>

            <!-- banner Text --> 

                 <section class="text-center">

                    <h2>UBA Recruit</h2>

                    <p>Converting Idea's into reality</p>

                     

                    <a class="popup-vimeo video-button" href="<%= asset_path('ubavideo.mp4') %>"><i class="fa fa-caret-right" aria-hidden="true"></i></a>

                     <a  href="/login" class="button-header">Login </a>

                </section>

                

            <!-- banner Text -->   

                

            <!-- banner image -->

        	<figure>

                <div class="parallax-window item tp-banner-container" data-parallax="scroll" data-image-src="<%= image_path('ubarecruit3.jpg') %>"></div>

            </figure>

            <!-- banner image -->

        </header>

    <!-- header -->

	

    <!-- main -->

    	<main role="main" id=" main-wrapper">

        	

                       

            <!-- section-one -->

            <section class="section-one text-center" id="section-one">

            	<div class="container">

                	<header role="title-page">

                        <h4>What we do</h4>

                        <h2>We make your business gain more<br/>revenue at a glance.</h2>

                    </header>

                    <article>

                    	<p>Video Interview System that let's your candidate to all the talking without you having to be present, within a self regualating and monitoring environment <br/>

                        We know first hand how hard Recruitment can be and how frustrating it is to work hours on end and have no shows and sub par candidates in interviews.<br/>

                        </p>

                    </article>

                    

                    <!-- four boxes  -->

                    	<div class="row four-box-pan" role="four-box">


                            <section class="col-xs-12 col-sm-6 col-md-4">

                            	<figure><i class="fa fa-magic" aria-hidden="true"></i></figure>

                            	<h5>Higly customizable</h5>

                                <p>Every part of the system can be customized for sub-departments within the organization</p>

                            </section>

                            <section class="col-xs-12 col-sm-6 col-md-4">

                            	<figure><i class="fa fa-paper-plane" aria-hidden="true"></i></figure>

                            	<h5>Simplified workflow</h5>

                                <p>Simple flow for applicant, taking interview and assesment </p>

                            </section>

                            <section class="col-xs-12 col-sm-6 col-md-4">

                            	<figure><i class="fa fa-television" aria-hidden="true"></i></figure>

                            	<h5>Cross platform</h5>

                                <p>Work seamlessly across all devices and platform </p>

                            </section>

                            

                        </div>

                    <!-- four boxes -->

                    

                </div>

            </section>

            <!-- section-one -->

            

            <!-- section-two -->

            <section class="section-two" id="section-two">

            	

                <!-- image-content -->

                <section>

                	<div class="col-xs-12 col-sm-6 col-md-6">

                    	<article>

                        	<h2>Benefits For Recruiter</h2>

                            <p>Recruiter can make smarter selection and informed decision with the insight generated from video analysis</p>

                            <ul>

                                <li>Only minutes to set up interview and send to many candidates with a single click</li>

                                <li>Overall time-to-hire and recruitment costs reduced by 50%</li>

                                <li>Set questions based on role, competency and cultural fit</li>

                                <li>See Personality, hear candidates articulate and see their body language</li>

                            </ul>

                        </article>

                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6">

                        <figure class="row" style="background-image:url('<%= image_path('uba5.jpg') %>') ; background-size: 95%;
 "></figure>

                    </div>

                 </section>

                <!-- image-content -->

                <div class="clearfix"></div>

                 <!-- image-content -->

                 <section>

                    <div class="col-xs-12 col-sm-6 col-md-6">

                    	<figure class="row" style="background-image:url('<%= image_path('uba1.jpg') %>') ; background-size: 95%;
 "></figure>

                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6">

                    	<article>

                    		<h2>Benefits For The Candidates</h2>

                            <p>Applicant No need to scheduee time off work anymore, he/she can complete at a time that suit him/her</p>


                            <ul>

                                <li>Ability to demonstrate skills, motivation and enthusiasm</li>

                                <li>Eliminate Travel Time and cost</li>

                                <li>Structured, fair and transparent process</li>

                                <li>Candidates can showcase their personality</li>

                            </ul>
                        </article>

                    </div>

                 </section>

                <!-- image-content -->

                <div class="clearfix"></div>


            </section>

            <!-- section-two -->

            

           <!-- footer -->

           <footer role="footer" class="footer text-center">

           		<div class="container">

                	<!-- socil-icons -->

                	<section role="socil-icons" class="socil-icons">

                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>

                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>

                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>

                        <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>



                    </section>

                    <!-- socil-icons -->

                    <!-- nav -->

                    <nav role="footer-nav">

                        <a href="#">Terms of Use </a> 

                        <a href="#">Privacy Policy</a>

                    </nav>

                    <!-- nav -->

                    <p class="copy">&copy; 2018 UBA Recruit. All rights reserved.</p>

                </div>

           </footer>

           <!-- footer -->

            

        </main>

    <!-- main -->

    

