



   <div class="wizard-header">
        <h3 class="wizard-title"><%= n %></h3>
        <p class="category">Kindly fill out the interview details as required </p>
    </div>

<div class="wizard-navigation">
<div class="progress-with-circle">
 <div class="progress-bar" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="3" style="width: 21%;"></div>
</div>
<ul>
            <li>
<a href="#details" data-toggle="tab">
  <div class="icon-circle">
    <i class="ti-list"></i>
  </div>
  Details
</a>
</li>
            <li>
<a href="#captain" data-toggle="tab">
  <div class="icon-circle">
    <i class="ti-help"></i>
  </div>
  Questions
</a> </li>
 <li>
<a href="#preview" data-toggle="tab">
  <div class="icon-circle">
    <i class="ti-pencil"></i>
  </div>
 Preview
</a> </li>


        </ul>
</div>
      <div class="tab-content">
          <div class="tab-pane" id="details">
            <div class="row">
              <div class="form-group col-md-12">
                <%= f.label :title %>
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"  
                , title="Role Title" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="This is the title of the role or position you are screening for" style="color: #66615B;" ></span>


                  <%= f.text_field :title,:id => 'title-interview', :placeholder => 'Role Title', class: "form-control border-input interview-details", html: {spellcheck: "false"}  %>
              </div>
            </div>
            <div class="row">
      <div class="form-group col-md-12">
        <%= f.label :description %>
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true" title="Interview Description" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="Summarize what this interview is about, and why its relevant .
You can use maximum 100 words.
For example: ''We are looking for a Billing Analyst to undertake billing operations in our accounting department. We’ll count on you to issue invoices with a high degree of accuracy to guarantee our revenue.

Our Billing Analyst should have a keen eye for detail. You should also be comfortable working with little supervision to meet tight deadlines.

Your goal ...''" style="color: #66615B;" ></span>
          <%= f.text_area :description,:id => 'title-description', :placeholder => 'Role Description', class: "form-control border-input interview-details", rows:"4", html: {spellcheck: "false"} %>


           
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-12">
        <%= f.label :instruction %>
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true" title="Interview Instruction" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="Add instructions of how you want your candidates/applicants to take the interview eg. Interviews not completed before the deadline will not be reviewed" style="color: #66615B;" ></span>
          <%= f.text_area :instruction, :id => 'title-instruction', :placeholder => 'Instructions for the Candidates', class: "form-control border-input interview-details", rows:"4", html: {spellcheck: "true"}   %>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-12">
        <%= f.label :completed_message %>
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true" title="Completed message" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="This message would be displayed to the candidate at the end of the interview eg. You have successfully completed your interview, we would get back to you in 5 working days." style="color: #66615B;" ></span>
          <%= f.text_area :completed_message, :id => 'title-completed-message', :placeholder => 'Completed Message after', class: "form-control border-input interview-details", rows:"4", html: {spellcheck: "true"} %>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-12">
        <%= f.label :deadline %>
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true" title="Interview deadline" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="Set deadline date for the interview" style="color: #66615B;" ></span>
        <%= f.text_field :deadline, class: "form-control border-input datepicker" , id: "date" , placeholder:"yyyy-mm-dd" %>
      </div>
    </div>

   <br>
    <div class="row">
        <!-- <label>Interviews Access (Available for Business and Enterprise plan) </label> -->
        <div class=" form-group col-sm-12" >
               <p style="color: #9A9A9A;">Switch ON to make interview PRIVATE and OFF to make PUBLIC<br>
               (Setting to Public would publish this interview on our interview listing page)</p>
         <!--  <label>Interviews Access (Available for Business and Enterprise plan) </label> -->
            <div class="onoffswitch file">
              <%= f.check_box :status, :id => 'myonoffswitch', class: "onoffswitch-checkbox" %>
                <label class="onoffswitch-label" for="myonoffswitch">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
            </div>
        </div>
    </div>


    <!-- add to public interview page -->

        <!-- <h5 class="info-text"> Get notification(s) via?  </h5> -->
        <!-- <div class="row">
            <div class="col-sm-8 col-sm-offset-3">
                <div class="col-sm-4">
                    <div class="choice" data-toggle="wizard-checkbox">
                        <input type="checkbox"  value="Design">
                        <div class="card card-checkboxes card-hover-effect">
                            <i class="ti-email"></i>
                            <p>Add to public page</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="choice" data-toggle="wizard-checkbox">
                        <input type="checkbox"  value="Code">
                        <div class="card card-checkboxes card-hover-effect">
                            <i class="ti-comment"></i>
                            <p>Sms</p>
                        </div>
                    </div>
                </div>
      
            </div>
        </div> -->
 

      <!-- end public interview page  -->

    



        </div>
          <div class="tab-pane" id="captain">
              <div class="row">
                  <div class="col-sm-10 col-sm-offset-1">
                    <input type="hidden" value="<%= @interview.questions.to_json %>" name="interview[questions]" id="questions-json" />

    
     

     <div id ="question-tag">
        <!-- this is where all the question will be added -->
        <% if d == "Create Interview" %>

        <div class='row' type ='1'>
          <div class='col-md-8'>
              
               <div class="form-group">
                <div class="input-group">
                <span class="input-group-addon" title="Video question" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Enter question and time allowed (Maximum time: 5 minutes)" style="color: #66615B;" ><i class="glyphicon glyphicon-play" ></i></span>
                   <input type='text' class='form-control border-input interview-details' placeholder='Video Question' name="first" >
                </div>
               </div>

          </div>
          <div class='col-md-3'>
              <div class='form-group'>
                  <input type='text' class='form-control border-input interview-time' placeholder='mm:ss Time allow' name="third" >
              </div>
          </div>
          <div class='col-md-1 close'>
            <btn class='btn remove'><i class='ti-close'></i></btn>
          </div>
      </div>







      
        <div class='row'  type ='2'>
          <div class='col-md-8'>
             <div class='form-group'>
                <div class="input-group">
                  <span class="input-group-addon" title="Text question" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Enter question and number of words allowed (Maximum words: 500)" style="color: #66615B;"><i class="glyphicon glyphicon-text-width" ></i></span>
                    <input type='text' class='form-control border-input interview-details' placeholder='Text Question'  name="second" >
                </div>
             </div>
          </div>
          <div class='col-md-3'>
              <div class='form-group'>
                  <input type='text' class='form-control border-input interview-number-word' placeholder='Max words allowed' name="fourth">
              </div>
          </div>
          <div class='col-md-1 close'>
            <btn class='btn remove'><i class='ti-close'></i></btn>
          </div>
      </div>


              

      <% end %>

     </div>
     
      <hr>
       <!-- <div class="text-center">
        <h5>Add Questions </h5>
      </div> -->

      <div class="row" >
          <div class='col-md-8 col-sm-offset-2'>
            <div class='col-md-8'>
              <div class="form-group">
                  <select id="question-type" class="form-control">
                      <option value='1'> Video Question </option>
                      <option value='2'> Text Question </option>
                      <option value='3'> File/Image Upload </option>
                  </select>
              </div>
            </div>
            <div class='col-md-4'>
                <btn class="btn margin-top-form"  id="add-new"> Add new </btn>
            </div>
        </div>
        </div>
        <hr>
                           
                  </div>
              </div>
          </div>

          <div class="tab-pane" id="preview">
            <div class="row">
              <div class="col-md-12">
                  <div class="text-center">
                    <h5> Edit Interview Page </h5>
                  </div>
                 <object type="text/html" data="/companies/<%= @company.id %>/edit_preview"> </object>

              </div>
            </div>
          </div>
         
          
      </div>
      <div class="wizard-footer">
        <div class="pull-right">
              <input type='button' class='btn btn-next btn-fill btn-info btn-wd' name='next' value='Next' />
              <%= f.submit :id => 'interview-submit', :value => d, class: "btn btn-finish btn-fill btn-info btn-wd", name:'finish' %>
          </div>

          <div class="pull-left">
              <input type='button' class='btn btn-previous btn-default btn-wd' name='previous' value='Previous' />
          </div>
          <div class="clearfix"></div>
          <br>
      </div>


<script>



  $('.datepicker').datepicker({
    dateFormat:"yy-mm-dd",
    minDate: 0 
  });

  $('.interview-time').timepicker({
      timeFormat:'mm:ss',
      minuteMax:5,
      showButtonPanel: false,
      timeOnlyTitle: "Set TIme",
      showTime: false
  });


// $('div.wizard-header').on("click",".datepicker", function(){
//     $(this).datepicker();
//  });​

  // $('body').on("focus",".timepicker", function(){
  //     // $(this).timepicker({
  //     //   timeFormat:'mm:ss',
  //     //   minuteMax:5,
  //     //   showButtonPanel: false,
  //     //   timeOnlyTitle: "Choose Duration",
  //     //   showTime: false
  //     // });
  //     $(this).timepicker({
  //       timeFormat:'mm:ss',
  //       minuteMax:5,
  //       showButtonPanel: false,
  //       timeOnlyTitle: "Choose Duration",
  //       showTime: false
  //     });
  // });​


</script>
