<div class="wrapper">
    <div class="sidebar" data-background-color="white" data-active-color="success">
    
<!-- TODO Add Sidebar Panel -->
 <%= render partial: "companies/sidebar" %>
<div class="main-panel">
<!-- TODO Add Navbar Panel -->
    <%= render partial: "users/navbar" %>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                   
                    <div class="col-lg-12 col-md-12">
                        <div class="card box-shape">
                            <div class="header">
                               <h4 class="title">Interviews</h4>
                            </div>
                            <div class="content">
                                <ul class="list-unstyled team-members">
                                    <% @interview_all.each do |interview| %>
                                        <li>
                                            <div class="row">
                                            <%= link_to company_interview_path(id:interview.slug) do %>
                                                <div class="col-xs-6">
                                                    <%= truncate( interview.title, :length => 70) %>
                                                </div>
                                            <% end %>
                                                <%= link_to 'Show', company_interview_path(id: interview.slug) %> | 
                                                <%= link_to 'Edit', edit_company_interview_path(id: interview.slug) %> | 
                                                <%= link_to 'Delete', company_interview_path(id: interview.slug), method: :delete, data: { confirm: 'Are you sure?' } %>
                                                
                                            </div>
                                        </li>
                                    <% end %>
                                  <br>
                                </ul>

                                <%= link_to 'New interview', new_company_interview_path %>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

</div>