<div class="wrapper">
    <div class="sidebar" data-background-color="white" data-active-color="success">

<!-- TODO Add Sidebar Panel -->
   	 <%= render partial: "companies/sidebar" %>
    <div class="main-panel">
<!-- TODO Add Navbar Panel -->
    <%= render partial: "users/navbar" %>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
   <center>
      <h4> Send Invitation</h4>
      <%=form_tag send_invite_mail_company_interviews_path(interview_id: @interview.id),method: :get, multipart: true do %>
      <%= submit_tag "Send", class: "btn btn-info btn-fill btn-wd"%>
      <%end%>
</center>
          <div class="col-lg-12 col-md-12">
              <div class="card">
                      <div>
                          <div class="header">
                            <%= link_to 'Edit this interview', edit_company_interview_path(id: @interview.slug), class: "btn float-right box-shape" %>
                          </div>
                          <div class="content"><br><br></div>
                      </div>


                    <div class="content">

                      <div class="container-fluid">
                          <div class="row">
                              <div class="col-xs-12 col-lg-12 col-md-12">
                                  
	                                 <div class="typo-line">
	                                    <h5><p class="category">Role description</p><%= @interview.description %></h5>
	                                 </div>
	                                 
	                                  <div class="typo-line">
	                                    <h5><p class="category">Deadline</p> <%= @interview.deadline %></h5>
	                                 </div>
                                   <div class="typo-line">
                                      <h5><p class="category">Token</p><%= @interview.interview_token %></h5>
                                   </div>

                                   <div class="typo-line">
                                      <h5><p class="category">Invitation Link</p> https://<%= @company.subdomain %>.dropque.com/<%= @interview.interview_token %></h5>
                                   </div>                                            
                              </div>
                          </div>
                      </div>
                  </div>                            
	            </div>
           </div>

				</div>



        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="header">
                      <h4 class="title">Question(s)</h4>
                    </div>
                    <div class="content">
                      <div class="typo-line">
                        <input type="hidden" id="question-returned" value="<%= @interview.questions.to_json %>" />
                          <div class="content table-responsive table-full-width">
                                <table class="table table-striped">
                                    <tbody id="question-holder">
                                        
                                    </tbody>
                                </table>
                            </div>
                          

                      </div>
                  </div>
                                                                      
                </div>
          </div>
        </div>



                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="card">
                            <div class="header">
                               <h4 class="title">Candidates Email</h4>
                            </div>
                              <div class="content">
                                
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <input type="text" id="email-list" class="form-control border-input" value="<%= @interview.mail_list %>" />
                                   </div>
                                   <label id="indicator-mail"> </label>
                                </div>



                                  <div class="text-center">
                                 
                                    
                                  </div>
                            </div>
                          
                                                                  
                        </div>

                    </div>
                </div>



			</div>
		</div>
	</div>
  
</div>

