  <style type="text/css">
textarea.note {
 background: url(http://i.stack.imgur.com/ynxjD.png) repeat-y;
 width: 100%;
 height: 300px;
 font: normal 14px verdana;
 line-height: 25px;
 padding: 2px 10px;
 border: solid 1px #ddd;
}


</style>




<div class="wrapper">
    <div class="sidebar" data-background-color="white" data-active-color="danger">

<!-- Add Sidebar Panel -->
    <%= render partial: "companies/sidebar" %>
    <div class="main-panel">
<!-- Add Navbar Panel -->
    <%= render partial: "users/navbar" %>


  <div class="content">
         <% if @peg && @submissions.length != 0 %>
         <div class="row text-center">
                <div class="col-md-4 col-md-offset-4">
                    <button id="bukbut" type="button" class="btn btn-raised btn-twitter">Send <%= @peg %> Message To These Candidates</button>
                </div>
          </div>
          <%end%>
          <br>
      <input type="hidden" value="<%= @interview.id %>" id="interview_id" />
        <div class="card-start ">

          <div class="container-fluid">



            <!-- when empty -->
            <% if @submissions.length == 0  %>
             <%= render partial: "when_empty" %>
            <% end %>

           <div class="row">


            <% @submissions.each do |submission| %>
              <!--  test if answer is nil -->
              <% if !submission.answers.nil?  %>
                  <div class="col-md-3">
                        <div class="content">
                            <div class="card main text-center box-shape" data-toggle="modal" data-target="#video-<%= submission.id %>" data-backdrop="static" >
                             <br>
                                <div class="dq-center-video">
                                  <% if !submission.first_video.nil? %>
                                    <% first_video = submission.first_video - 1 %>
                                  <img class="lazy max-height-width"  src="<%= asset_path('avatar.png', style: "border-radius: 50%;") %>" data-original="https://embed-cdn.ziggeo.com/v1/applications/8e270db9f0949e961323040b7f8e2cf1/videos/<%= submission.answers[first_video]["link"] %>/image">
                                  <% else %>
                                    <%= image_tag('avatar.png', style: "border-radius: 50%;") %>
                                  <% end %>

                                </div>
                                <div >
                                   <span class="stats"> <%= truncate( submission.user.name , :length => 23) %>  </span><br>
                                  <span class="text-info">
                                    <small> <%= truncate( submission.user.email , :length => 23) %>  </small>
                                  </span>

                                </div>
                               </div>
                        </div>
                  </div>
               <% end %>

              <% end %>
            </div>
          </div>
          <div class="center" ><%= will_paginate @submissions %></div>
        </div>
  </div>
    </div>
    </div>
</div>

<%= content_tag :div, "", id: "setou", data: {orders:  @peg} %>





  <!-- Modal -->
<% @submissions.each do |submission| %>

  <% if !submission.answers.nil? %>
  <div class="modal fade" id="video-<%= submission.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">

          <%= submission.user.name %> (<%= submission.user.email %>) 

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
                  <div class="text-center major-view centralize">
                     <strong><h5 id="question-video-<%= submission.id %>-sly"></h5></strong>
                     <div id="content-video-<%= submission.id %>-sly" class="centralize-video" >
                    </div>
                  </div>

           <div class="wrap" >
              <div class="scrollbar">
                <div class="handle">
                  <div class="mousearea"></div>
                </div>
              </div>

              <div class="frame" id="video-<%= submission.id %>-sly" submission-id="<%= submission.id %>"  triggered="true">
                <ul class="clearfix">
                  <% submission.answers.each do |answer| %>
                    <% if answer["question_type"] == "1" %>
                      <li question-type="1" token="<%= answer["link"] %>" question="<%= answer["question_video"] %>"> <div class="round-tab glyphicon glyphicon-play" ></div> </li>
                    <% elsif answer["question_type"] == "2" %>
                     <li question-type="2"> <div class="round-tab glyphicon glyphicon-text-width"><span></span></div> </li>
                    <% elsif answer["question_type"] == "3" %>
                     <li question-type="3"> <div class="round-tab glyphicon glyphicon-cloud-upload"></div> </li>
                    <% end %>
                  <% end %>
                </ul>
              </div> 
              </div>

                  <div class="rate" >

                  <% if @user_status < 2 %> 
                    <div class="centralize " submission-id="<%= submission.id %>">
                      <button class="btn btn-sm btn-danger btn-icon box-shape status <%= (submission.status == 'reject') ? "btn-fill": "" %> " status="2" title='reject' ><i class="ti-close"></i></button>
                      <button class="btn btn-sm btn-icon  box-shape status <%= (submission.status == 'pend') ? "btn-fill": "" %>" status="1" title='pending'><i class="ti-minus"></i></button>
                      <button class="btn btn-sm btn-success btn-icon  box-shape status <%= (submission.status == 'shortlist') ? "btn-fill": "" %> " status="0" title='shortlist'><i class="ti-check"></i></button>
                      <br><br>
                    </div>
                  <% end %>

                    <div class="centralize">
                      General:
                      <%= rating_for submission, 'response', disable_after_rate: false, cancel_hint: 'Cancel interview rating', imdb_avg: false , target: '#hint'+submission.id.to_s, targetType: "score" ,targetFormat: "Interview rating: {score}"%>

                      <br>
                      Apperance/Composure  : <%= rating_for submission, 'apperance', disable_after_rate: false, cancel_hint: 'Cancel apperance rating', imdb_avg: false, target: '#hint'+submission.id.to_s, targetType: "score" ,targetFormat: "Apperance rating: {score}"  %>
                      <br>
                      Communication : <%= rating_for submission, 'communication', disable_after_rate: false, cancel_hint: 'Cancel communication rating', imdb_avg: false, target: '#hint'+submission.id.to_s, targetType: "score" ,targetFormat: "Communication rating: {score}" %>

                     <br>
                      <div style="color: #5e337b; " id="hint<%= submission.id %>"></div>

                    </div>
                  </div>

                 <div class="centralize full-fix ">
                  <%= commontator_thread(submission) %>
                 </div>



        </div>


      </div>
    </div>
  </div>


  <% end %>
<% end %>


<!-- Start of bulk sender modal -->
<div class="modal fade" id="buk-not" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="myModalLabel"> Send Email To Your <%= @peg %> Candidates</h5>
      </div>
      <input type="text" id="contact-id" hidden >

      <div class="modal-body" id="contact-body">

       <input name = "subject" id="subj"  type="text" class="form-control" placeholder="SUBJECT" > </input>

          <div class="row">
          <div class="col-md-12">
         <textarea  name="body" id="body"  rows="8" class="form-control border-input" placeholder="Compose Custom email to be sent" value="">
          <% if @peg %>
          <%= @prefiled_mes %>
          <%end%>
          </textarea>
          </div>

        </div>

      <div class="modal-footer">
        <button type="button" class="btn box-shape" data-dismiss="modal"> Cancel </button>
        <button onclick="submitBuk()"  type="button" id="buk-continue" class="btn box-shape"> Send </button>
      </div>
      <%else%>

      </div>

    </div>
  </div>
  <!-- Start of bulk sender modal -->


<script>
var warning = "Are you sure to send message? Message composed will be mailed to these candidates";

var subj,body, set, url;
var id_input = $("#interview_id");
var id = id_input.attr("value");
function submitBuk(){
  subj = $('#subj').val()
  body = $('#body').val()
}
$("#bukbut").click( function(){
 $("#buk-not").modal();
});
 var parent = $("#buk-not").find(".modal-body");
     set = $("#setou").data('orders');
 var one = $("#buk-not").find(".modal-footer");
 var three = one.find("button#buk-continue").click(function(event){
if (confirm(warning) == true){
 $("#buk-not").modal('hide');

  url = "/companies/<%= @company.slug %>/interviews/"+id+"/mass"
  $.ajax({
  type: 'GET',
  data: { set:set, subject:subj,  body:body},
  url: url
 });
 }
 else{
event.preventDefault();
 }
 });



  var height ;
  var width ;

 $('.modal').on('shown.bs.modal', function (e) {

    var cardView = $(e.relatedTarget); // cardView that triggered the modal
    var idToTrigger = cardView.data('target');

      (function () {
        var $frame = $(idToTrigger+"-sly");
        var $wrap  = $frame.parent();
        var $slidee = $frame.children('ul').eq(0);

        // Call Sly on frame
        $frame.sly({
          horizontal: 1,
          itemNav: 'basic',
          smart: 1,
          activateMiddle: 1,
          activateOn: 'click',
          mouseDragging: 1,
          touchDragging: 1,
          releaseSwing: 1,
          startAt: 0,
          scrollBar: $wrap.find('.scrollbar'),
          scrollBy: 1,
          speed: 300,
          elasticBounds: 1,
          easing: 'easeOutExpo',
          dragHandle: 1,
          dynamicHandle: 1,
          clickBar: 1
        });

      // this will trigger at first before anything is being clicked
        if ($frame.attr("triggered") == "true"){
           var submissionId = $frame.attr("submission-id");
           var contentId = "#content-"+$frame.attr('id');
           var questionId = "#question-"+$frame.attr('id');
           var liObject = $frame.find('li')[0]; 
           var questionType = liObject.getAttribute("question-type");
           if (questionType == "1"){
              replaceVideo(liObject.getAttribute("token"),liObject.getAttribute("question"), questionId ,contentId);
           } else{
              replaceTextFile(submissionId, 0, questionType, questionId, contentId);
           }
           $frame.attr("triggered", false);
        }
     }());



    $('.frame').sly('on', 'active', function(eventName, itemIndex){
           var thisFrame = $(this)[0].frame ;
           var submissionId = thisFrame.getAttribute("submission-id");
           var contentId = "#content-"+thisFrame.id;
           var questionId = "#question-"+thisFrame.id;
           var questionType = thisFrame.children[0].children[itemIndex].getAttribute("question-type");
           if (questionType == "1"){
              replaceVideo(thisFrame.children[0].children[itemIndex].getAttribute("token"),thisFrame.children[0].children[itemIndex].getAttribute("question"), questionId ,contentId);
  
           } else{
              replaceTextFile(submissionId, itemIndex, questionType, questionId, contentId);
           }
     });

});


  function replaceVideo(token, question, htmlQuestionId, htmlContentId ){
    ZiggeoApi.Embed.embed(
          htmlContentId, {
            width: width,
            height : height,
            video: token
      });
    $(htmlQuestionId).text(question);
  }

  function replaceTextFile(submissionId, questionNumber, questionType, htmlQuestionId, htmlContentId ){
    $.ajax({
          url: '<%= company_interview_returnTextFileApi_path(company_id:@company.slug, interview_id:@interview.slug)%>',
          type: 'GET',
          data: { submission_id: submissionId, question_type: questionType, question_number: questionNumber},
          success: function(data){
              if (data == "error" ){

              } else if(questionType == 2) {
                 $(htmlContentId).html( "<textarea class='note' readonly>" +data.answer+ "</textarea>" );
                 $(htmlQuestionId).html(data.question) ;
             } else if (questionType == 3){
                $(htmlContentId).html("<div>"+
                    "File Name: "+data.answer.split('/').pop()+"<br>"+
                    "File Type: "+data.answer.split('/').pop().split('.').pop()+" <br>"+
                    "File size: "+(data.file_size / 1000)+" kb <br><br><br>"+
                    "<a class='btn box-shape download-button' href='"+data.answer+"' target='_blank'>Download file </a>"+
                 " </div> ");
                $(htmlQuestionId).text(data.question);
             }
          },
          error : function(jqXHR, textStatus, errorThrown) {

           }
       });
  }


  $(".status").click(function(){
    var current = $(this);
    var parent =  $(this).parent();
    var submissionId = parent.attr('submission-id');
    var status = current.attr('status');

    $.ajax({
          url: '<%= company_interview_change_status_path(company_id:@company.slug, interview_id:@interview.slug)%>',
          type: 'PUT',
          data: { submission_id: submissionId, status: status},
          success: function(data){
              if (data == "shortlist" ){
                 parent.children().removeClass('btn-fill');
                 current.addClass('btn-fill');
                if (confirm("Are You Sure to SHORTLIST this Candidate?") == true){
                  $.ajax({
                  url:'<%= company_interview_shortlist_path(company_id:@company.slug, interview_id:@interview.slug)%>',
                  type: 'GET',
                  data: { Id:submissionId},
                  success: function(data){
                      if (data == "true"){
                        console.log("Shortlisting "+submissionId);
                      }
                      else if(data=="error"){
                        console.log ("No way for "+submissionId);
                      }
                  }

                 });

                  }
             }
             else if (data == "pend"){
                parent.children().removeClass('btn-fill');
                current.addClass('btn-fill');
                //alert('You want to PEND this candidate?');
             }
             else if (data == "reject"){
                parent.children().removeClass('btn-fill');
                current.addClass('btn-fill');
                //alert('You want to REJECT this candidate?');
                if (confirm("Are You Sure to REJECT this Candidate? ") == true){
                   $.ajax({
                  url:'<%= company_interview_reject_path(company_id:@company.slug, interview_id:@interview.slug)%>',
                  type: 'GET',
                  data: { Id:submissionId},
                  success: function(data){
                      if (data == "true"){
                        console.log("Rejecting "+submissionId);
                      }
                      else if(data=="error"){
                        console.log ("No way forb "+submissionId);
                      }
                  }

                 });
                }

             }
             else if (data == "error"){
                parent.children().removeClass('btn-fill');
             }
          },
          error : function(jqXHR, textStatus, errorThrown) {
               parent.children().removeClass('btn-fill');
           }
       });
  });


  // lazy load images
  $("img.lazy").show().lazyload({
    effect : "fadeIn"
  });


</script>



