            <div class="header-filter" style="background-image: url('assets/dq4.png'); background-size: cover; background-position: top center; min-height: 683px;">    
            
                <div class="container">
                    <div class="logo-container">
                            <div class="text-center">
                              <a href="/"><%= image_tag('dqlogo.png')%></a>
                            </div>                    
                    </div>

                              <div>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-4 col-md-offset-4">         
                                                <div class="card card-signup">
                                                  <div class="form">
                                                      <div class="text-center" style="color:#5e337b">
                                                        <% if request.subdomain != "www" %>
                                                           <h3>  Log in</h3>
                                                        <% else %>
                                                          <h3>  Log in</h3>
                                                        <% end %>
                                                      </div>
                                                        <div class="content">
                                                            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                                                                <%= devise_error_messages! %>
                                                                <div class="flasher row"><%= bootstrap_flash %></div>                
                                                                <div class="input-group">
                                                                  <span class="input-group-addon">
                                                                     <i class="material-icons">email</i>
                                                                  </span>                     
                                                                  <%= f.email_field :email, :placeholder => 'E-mail', class: "form-control", html: {spellcheck: "false"} %>                     
                                                                </div>

                                                                 <div class="input-group">
                                                                   <span class="input-group-addon">
                                                                       <i class="material-icons">lock_outline</i>
                                                                   </span>
                                                         
                                                                   <%= f.password_field :password, autocomplete: "off", :placeholder => 'password', class: "form-control", html: {spellcheck: "false"} %>
                                                                 </div>

                                                                  <% if devise_mapping.rememberable? -%>
                                                                    <div class="checkbox">
                                                                      <label>
                                                                      <%= f.check_box :remember_me %>
                                                                      <%= f.label :remember_me %>
                                                                      </label>
                                                                    </div>
                                                                  <% end -%>

                                                                  <div class="text-center">
                                                                    <%= f.submit "Log in", class: "btn btn-primary btn-raised"%>
                                                                  </div>
                                                                <% end %>
                                                                  <div class="text-center">
                                                                  <span>No account yet?</span>
                                                                  <%= link_to "Sign Up", new_registration_path(resource_name) %><br />
                                                                  </div>
                                                                  <div class="hr-sect">Or Sign In With</div>
                                                                <div class="sharing-area text-center">
                                                                    <a href="#pablo" class="btn btn-raised btn-facebook">
                                                                      <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                                                        Facebook
                                                                    </a>
                                                                    <a href="#pablo" class="btn btn-raised btn-linkedin" aria-hidden="true">
                                                                      <i class="fa fa-linkedin"></i>LinkedIn
                                                                    </a>
                                                                    <!-- <a href="#" class="btn btn-raised btn-github">
                                                                        <i class="fa fa-github" aria-hidden="true"></i>GitHub
                                                                    </a> -->
                                                                </div>
                                                                <br/>
                                                                <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
                                                        </div>
                                                  </div>
                                              </div>
                                        </div>
                                    </div>
                                </div>
                              </div>
                </div>
            </div>
             