 <!-- TODO Add header Partial -->
        <%= render partial: "header" %>

    <div class="container">
      <h2 class="dq-interview-question">Interview for <%= @interview.title %> </h2>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="row dq-intro-section">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-1 dq-intro-icon">
              <span class="fa fa-3x fa-calendar"></span>
            </div>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-11">
              <h5>Number of Quesionts</h5>
              <p><%= @interview.questions.length %></p>
            </div>
          </div>

          <% if !@interview.deadline.nil? %>

            <div class="row dq-intro-section">
              <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1 dq-intro-icon">
                <span class="fa fa-3x fa-calendar-o"></span>
              </div>
                <div class="col-xs-10 col-sm-10 col-md-11 col-lg-11">
                  <h5>Deadline</h5>
                  <p> <%= @interview.deadline %></p>
                </div>
            </div>

          <% end %>


          <div class="row dq-intro-section">
            <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1 dq-intro-icon">
              <span class="fa fa-3x fa-calendar-o"></span>
            </div>
            <div class="col-xs-10 col-sm-10 col-md-11 col-lg-11">
              <h5>Interview details</h5>
              <p> <%= @interview.description %></p>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="well well-sm">
            <h5>Instructions</h5>
            <p>  Be sure you have a working Network connectivity </p>
            <p>  Be sure you have a working webcam either built-in or detachable </p>
            <p>  Be sure your computer has speakers or headphones, and double check that they can play audio </p>
            <p> A working microphone is required to record the audio portion of your interview </p>
            <p> Be aware of your lighting and background (Make sure the evironment is well lit and avoid sources of bright light directly behind you) </p>
            <p> Close all other applications other than Dropque that use your webcam and microphone it may interfere with Dropque ability to leverage your webcam and microphone </p>
        
            <p>
             <%= @interview.instruction %> 
            </p>

          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 dq-interview-bottom-toolbar">
          
          <form  method="post" action="/applicants/question">         
            <input type="hidden" value="<%= @interview.id %>" name ="id" />
            <input type="hidden" value="<%= @position %>" name="pos" />
            <input type="hidden" value="<%= @user.id %>" name="user_id" />
            <input type="hidden" value="<%= @submission.id %>" name="submission_id" />
            <input type="hidden" value="no" name="submission" />
              <!-- add csrf token -->
              <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>                          

            <button  class="btn btn-md dq-color-customized"> Start interview </button>
          </form>

        </div>
      </div>
    </div>

