<div class="homepage-body" style=" background: linear-gradient(rgba(51, 51, 51, 0.74), rgba(51, 51, 51, 0.51)), url(<%= (@company.image.file.nil?) ? asset_path('interviewers.jpg') : @company.image.url %>);  background-repeat: no-repeat; background-size: cover;" >



    
<div class="dq-wrapper">
      <div class="dq-container-editable"  >
        <nav class="navbar navbar-default dq-navbar-transparent" role="navigation">
          <!-- Brand and toggle get grouped for better mobile display -->
           <div class="navbar-header">
              <a class="navbar-brand" href="#">
               <%  if @company.logo.file.nil? %>
                 <%= image_tag('dqbeta.png', height:"60") %>
               <% else %>
                  <img src="<%= @company.logo %>" alt="" height="80"/>
               <% end %>

              </a>
           </div>

          <% if @editable == "true" %>
              <!-- Collect the nav links, forms, and other content for toggling -->
               <div class="collapse navbar-collapse navbar-ex1-collapse">
                  <ul class="nav navbar-nav navbar-right">
                    <li>

                      <input  onchange="update()" type="hidden" id="color_value" value="<%= (@company.properties.nil?) ? "#5e337b": @company.properties["primaryColor"] %>">     

                       <button  id="color-button"  contenteditable="false" class="btn  jscolor {valueElement: 'color_value'}" > Pick a colour </button> 
              
                   </li>
                     <li>
                        <form method="post" enctype="multipart/form-data" >
                          <input id="properties-values" type = "hidden" name="properties" >
                          <input  name="user_id" type="hidden" value="<%= @user.id %>" />
                          <input  name="company_id" type="hidden" value="<%= @company.id %>" />

                          <label for="file-upload" class="btn  dq-color-customized ">
                              <input id="file-upload" type="file" name="image">
                              Image (1024 X 682 )
                          </label>

                          <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
                           <button type="submit" id="save-button" contenteditable="false" class="btn dq-color-customized" > Save </button> 
                        </form>
                   </li>
                   <li>
                        <form method="post" >
                          <input id="reset-values" type = "hidden" name="properties" >
                          <input  name="user_id" type="hidden" value="<%= @user.id %>" />
                          <input  name="company_id" type="hidden" value="<%= @company.id %>" />
                          <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
                           <button type="submit" id="reset-button" contenteditable="false" class="btn dq-color-customized" > Reset </button> 
                        </form>
                   </li>

                  </ul>
              </div>
          <% end %>

           
          <!-- /.navbar-collapse -->
        </nav>

        <div class="dq-main-container">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="container">
                  <h1 class="dq-hero-heading editableContent max-char" max="50"><%= @company.name %> E-Interview Portal</h1>
                  <h4 class="dq-hero-subheading editableContent max-char" max="180">Sell yourself and get the offer</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="dq-bottom-overlay">
            <div class="container">
               <br>
              <h5 class="dq-pre-cta editableContent max-char" max="60" >Let's do this</h5>

          
          <% if params[:interview_token].present? %>
              <form  id="form-details" method="post" action="/applicants"> 
                <input type="text" class="dq-input-interview-token" id="interview-token-box" placeholder="Enter your interview code here" value="<%= params[:interview_token] %>" name="interview_token" contenteditable="false" hidden />
                <br><br>
                <input type="hidden" value="register" name ="page" />
                  <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
                <% if  Interview.exists?(interview_token: params[:interview_token]) %>
                    <!-- save the current url -->
                    <% session[:return_to] = request.url %>
                    <!-- end session save -->
                   <div class="editableContent">
                        <button id = "take-interview" class="btn btn-large dq-btn-start-interview dq-color-customized"> </button>
                   </div>
              <%  else %>
                 <div class="editableContent">
                      <button disabled class="btn btn-large dq-color-customized"> Invalid Interview Token, Check the url </button>
                 </div>
               <% end %>
               <br><br>
              </form>
          <% else  %>

          <form  id="form-details" method="post" action="/applicants">
              <input type="text" class="dq-input-interview-token" id="interview-token-box" placeholder="Enter your interview code here"  name="interview_token" contenteditable="false"  />

              <input type="hidden" value="register" name ="page" />
                <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
             <div class="editableContent">
                  <button id = "take-interview" class="btn btn-large dq-btn-start-interview dq-color-customized"> Start your interview </button>
             </div>
            </form>
          <% end %>




              <h6 class="dq-company-contact editableContent max-char" max="100">Have questions? Contact us on <%= @company.email %></h6>
            </div>
          </div>
        </div>
      </div>

      <div class="dq-container-noneditable">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <p class="dq-branding">Powered by <a class="dq-branding" href="#">Dropque.com</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>


<!-- Details for single interviews should be show here -->



 <% if  Interview.exists?(interview_token: params[:interview_token]) %>
 <% @interview = Interview.find_by(interview_token: params[:interview_token]) %>

 <!--  Add interview details Partial -->
          <br><br>
         <%= render partial: "interview_details" %>
 <!--  Add interview footer Partial -->
       
<% end %>

<% show = false %>
<% if show %>
    <%= render partial: "interview_footer" %>
<% end %>
  

 

 <!-- Details of each interview should end here -->







<script>

  $("#take-interview").click(function(event){
    event.preventDefault();

    var interviewToken = $("#interview-token-box").val();
    $.ajax({
          url: '/validate_interview', 
          type: 'GET',
          data: {interview_token: interviewToken },
          success: function(data){
              if (data == "success"){
                  $("#form-details").submit();
               }  else {
                  $("#interview-token-box").val("Invalid interview token");
               }
          },
          error : function(jqXHR, textStatus, errorThrown) {
               
           }
       });
    });

</script>

<% if @editable == "true" %>
  <script>
     $("#save-button").click(function(event){

        var properties = {

            primaryColor: "#" + $("#color_value").val(),
            heroText: $('.dq-hero-heading').text(),
            subHeroText: $('.dq-hero-subheading').text(),
            preCtaText: $('.dq-pre-cta').text(),
            ctaButton: $('.dq-btn-start-interview').text(),
            contactInfo: $('.dq-company-contact').text()
        };
        $("#properties-values").val(JSON.stringify(properties));
     });

     $("#reset-button").click(function(event){

        var properties = {

            primaryColor: '#5e337b',
            heroText: "<%= @company.name %> E-Interview Portal",
            subHeroText: "Sell yourself and get the offer",
            preCtaText: "Let's do this",
            ctaButton: "Start your interview",
            contactInfo: "Have questions? Contact us on <%= @company.email %>"
        };
        $("#reset-values").val(JSON.stringify(properties));
     });

  
  </script>
  <%= javascript_include_tag 'jscolor.js' %> 

  <script>
    function update() {
      setColor("#"+$("#color_value").val());
    }

   
    $(".max-char").on('keyup', function(event) {

         var max = $(this).attr("max");
         var length = $(this).text().length ;
         if ( length > max ){
            $(this).text($(this).text().substr(0, max));
         }
    
    });
  </script>
<% end %>

