
<style>

.wizard {
    margin: 20px auto;
    background: #fff;
}

    .wizard .nav-tabs {
        position: relative;
        margin: auto;
        margin-bottom: 0;
         border-bottom: none;
    }

    .wizard > div.wizard-inner {
        position: relative;
        width: 10%;
        float: left;
        margin-right: 30px;
    }

.connecting-line {
    height: 80%;
    background: #e0e0e0;
    position: absolute;
    width: 2px;
    margin: auto;
    top: 0;
    bottom: 0;
    left:  50%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    text-align: center;
    font-size: 25px;
}

span.round-tab i{
    color:#555555;
}
.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid rgb(94, 51, 123);;
    
}
.wizard li.active span.round-tab i{
    color: rgb(94, 51, 123);;
}

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs > li {
    width: 100%;
    /*height: 100%;*/

}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: rgb(94, 51, 123);
    transition: 0.1s ease-in-out;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 15px solid transparent;
    border-bottom-color: rgb(94, 51, 123);
}

.wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

    .wizard .nav-tabs > li a:hover {
        background: transparent;
    }

.wizard .tab-pane {
    position: relative;
    padding-top: 50px;
}

.wizard h3 {
    margin-top: 0;
}

@media( max-width : 585px ) {

    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
}


/* added by Muyide Ibukun*/
ul.nav.nav-tabs>li {
    float: inherit;
    margin-bottom: 40%;
}




</style>


 <%= render partial: "header" %>


<div class="container">
    <div class="row">
        <section>

 <h5 style="text-align: center; "> <%= @question_video %>  </h5> 

<hr>
        
        <div class="wizard">
            <div class="wizard-inner">
                <div class="connecting-line"></div>
                <ul class="nav nav-tabs" role="tablist">

                <% @interview.questions.each_with_index do | question, index | %>
                    <li role="presentation" class="<%= (index == @position) ? "active": "disabled" %>">
                        <a href="#step<%= index + 1 %>" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">
                            <span class="round-tab">
                                <% if question["question_type"] == "1" %>
                                    <i class="glyphicon glyphicon-play"></i>
                                <% elsif question["question_type"] == "2" %>
                                    <i class="glyphicon glyphicon-text-width"></i>

                                <% elsif question["question_type"] == "3" %>
                                    <i class="glyphicon glyphicon-cloud-upload"></i>
                                <% end %>
                            </span>
                        </a>
                    </li>
                <% end %>

                    <li role="presentation" class="disabled">
                        <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-ok"></i>
                            </span>
                        </a>
                    </li>

                </ul>
            </div>

           
                <div class="tab-content">
                    <div class="tab-pane active" role="tabpanel" id="step1">

                       <!-- Beginning here -->
                        

    <div class="row dq-page-container">
        <div id="video-container" class="dq-inner-video"> </div>
        <div id="duration" class="word-counter"></div> 
        <!-- ------------------------------------------------------- -->
        <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 dq-interview-bottom-toolbar">
          <form  method="post" action="/applicants/question">         
            <input type="hidden" value="<%= @interview.id %>" name ="id" />
            <input type="hidden" value="<%= @position + 1 %>" name="pos" />
            <input type="hidden" value="<%= @user.id %>" name="user_id" />
            <input type="hidden" value="<%= @submission.id %>" name="submission_id" />
            <input type="hidden" value="no" name="submission" />
              <!-- add csrf token -->
              <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>                          

            <% if (@position + 1 ) == @number_of_question %>
              <button hidden id="submit" class="btn btn-md dq-color-customized"> Finish Interview </button>
            <% else %>
              <button hidden id="submit" class="btn btn-md dq-color-customized"> Next Question </button>
            <% end %>

          </form>
        </div>
      </div>      
    </div>

      
                       <!-- end here -->
                      
                    </div>
                    <div class="clearfix"></div>
                </div>
          
        </div>
    </section>
   </div>
</div>







<script>

$(document).ready(function () {
    //Initialize tooltips
    $('.nav-tabs > li a[title]').tooltip();
    //Wizard
    $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
        var $target = $(e.target);
        if ($target.parent().hasClass('disabled')) {
            return false;
        }
    });  
});


</script>




<!-- ziggeo APi for video recording -->
    <link rel="stylesheet" href="//assets-cdn.ziggeo.com/v1-stable/ziggeo.css" />
    <script src="https://assets-cdn.ziggeo.com/v1-stable/ziggeo.js"></script>
    <script>ZiggeoApi.token = "8e270db9f0949e961323040b7f8e2cf1";</script>
    <script>ZiggeoApi.Config.cdn = true; </script>
    <script>ZiggeoApi.Config.webrtc = true;</script>

<link rel="stylesheet" href="https://assets-cdn.ziggeo.com/v1-stable/ziggeo.css" />
<script src="https://assets-cdn.ziggeo.com/v1-stable/ziggeo.js"></script>
<script>ZiggeoApi.token = "8e270db9f0949e961323040b7f8e2cf1";</script>
<script>ZiggeoApi.Config.cdn = true;</script>
<script>ZiggeoApi.Config.webrtc = true;</script>
<script>ZiggeoApi.Config.resumable = true;</script>

    <script>



    $.notify.addStyle('happyblue', {
      html: "<div><span data-notify-text/></div>",
      classes: {
        base: {
          "opacity": "0.90",
          "width": "200px",
          "background": "#CCCCCC",
          "padding": "5px",
          "margin": "5px",
          "border-radius": "10px"
        },
        menu: {
          "opacity": "0.90",
          "width": "200px",
          "background": "#CCCCCC",
          "padding": "5px",
          "margin": "5px",
          "border-radius": "10px",
          "color":"black"

        }
      }
    });


    
//  time conversion function
function milisecondsToMins(milliseconds){ 
  var minutes = milliseconds / (1000 * 60)
  var absoluteMinutes = Math.floor(minutes);
  var m = absoluteMinutes > 9 ? absoluteMinutes : '0' +  absoluteMinutes;
  var seconds = (minutes - absoluteMinutes) * 60;
  var absoluteSeconds = Math.floor(seconds);
  var s = absoluteSeconds > 9 ? absoluteSeconds : '0' + absoluteSeconds;
  return + m + ' min : ' + s+' sec';
}


 function addZiggeo(){
  var embedding = ZiggeoApi.Embed.embed("#video-container",  
    { 
      popup : true,
      immediate_playback: true,
      limit: <%= @time_allowed.to_i / 1000 %>,
      height:400,
      data :
      { 
        interview_id : <%= @interview.id %>,
        user_id : <%= @user.id %>,
      } 
    });
 }


 function setTimeForQuestion(milliseconds){
   var stringTime = milisecondsToMins(milliseconds);
   $('#duration').text("Time Allowed: " +stringTime);
 } 


 function setUpParameters( ziggeo_token ){
   <%  if @submission.answers.nil? %>
     var resultArrayAnswer =  [];
     
    <% else %>
     var placehod = "<%= @submission.answers.to_json %>" ;
     var resultArrayAnswer = JSON.parse(placehod.replace(/&quot;/g,'"'));

    <% end %>

    var answerItem = {}
    answerItem["question_type"] = '<%= @question_type %>' ;
    answerItem["question_video"] = '<%= @question_video %>' ;
    answerItem["video_type"] = 'ziggeo';
    answerItem["link"] = ziggeo_token ;

    resultArrayAnswer.push(answerItem);
    return JSON.stringify(resultArrayAnswer);
}

 
 addZiggeo();
 var submitted = false;
 setTimeForQuestion(<%= @time_allowed %>);

  
  ZiggeoApi.Events.on("submitted", function (data) {
    var answer = setUpParameters(data.video.token);

  if (!submitted){
    $.ajax({
          url:'/applicants/submit_video',
          type: 'POST',
          data: { 
            interview_token : '<%= @interview.interview_token %>',
            user_id : '<%= @user.id %>',
            answers : answer,
            position : <%= @position  + 1 %>         
         },
          success: function(data){
              if (data == "success"){
                   $("#submit").show();
                   submitted = true;
              } else {
              }
          },
          error : function(jqXHR, textStatus, errorThrown) {
              
           }
       });

  } else {
    
    $("#video-container").notify("Video Updated successfully", {
        style: 'happyblue',
        className: 'menu',
        position: "top center"
      });
  }
 
});


</script>






