<nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <% if @company.nil? %>
                       <%= image_tag('dqlg.png')%>
                    <% end %>

                </div>
                <div class="collapse navbar-collapse">


                  <% if !@interview.nil? %>
                    <a class="navbar-brand" href="#"><%= @interview.title %></a>
                  <% end %>
               


                    <ul class="nav navbar-nav navbar-right">

                             <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <p  id="notification-number" class="notification small-text-notification"> <%= @notification.length %> </p>
                                     <i class="ti-bell"></i>
                                    <p>Notifications</p>

                                    <b class="caret"></b>

                                   <!--  <b class="caret"></b> -->
                              </a>
                              <ul class="dropdown-menu">
                               <% @notification.each do |noti| %>
                                  <li> 
                                       <a class="notificationa">
                                        <div class="card notification" >
                                            <div class="content">

                                                 <btn class='btn float-right close-notification' notification-id= "<%= noti.id %>">
                                                  <i class='ti-close'></i>
                                                </btn>

                                                   <div class="author">
                                                    <%= image_tag('dummy.jpg', class:"avatar small", alt:"Thumb") %>
                                                     <% if noti.type_notification == 1 %>
                                                        <span itemprop="author"> Interview Completed </span>
                                                    <% elsif noti.type_notification == 2 %>
                                                        <span itemprop="author"> New Company Invite </span>
                                                    <% elsif noti.type_notification == 3 %>
                                                         <span itemprop="author"> New Message </span>
                                                    <% elsif noti.type_notification == 4 %>
                                                         <span itemprop="author"> Removed From Company </span>
                                                    <% elsif noti.type_notification == 5 %>
                                                         <span itemprop="author"> Ownership Transfer </span>
                                                    <% end %>

                                                   </div>
                                                   <div class="clearfix"><%= noti.message %></div>

                                            </div>
                                        </div>
                                        </a>
                                  </li>
                                  <% end %>

                              </ul>
                        </li>

                        <% if !@company.nil? %>
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="ti-settings"></i>
                                <p><%= @company.name %></p>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                   <%= link_to edit_company_path(params[:company_id ] || params[:id ] ) do %> Edit <% end %>
                                </li>
                                <li>
                                   <%= link_to company_edit_preview_path(params[:company_id ] || params[:id ]) , target: "_blank" do %> Edit Interview page <% end %> 
                                </li>

                                <li><a href="http://<%= @company.subdomain %>.<%= request.host_with_port %>" target= "_blank"> Interview Page </a>
                                   
                                </li>


                                <li>
                                   <%= link_to company_groups_path(params[:company_id ] || params[:id ] ) do %> Contact Groups <% end %>
                                </li>



                              </ul>
                        </li>
                        <% end %>

                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="ti-user"></i>
                                 <p><%= @user.name %></p>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><%= link_to "Profile", root_path %></li>
                                <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>

                              </ul>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>