<style>
#tabs .ui-tabs-nav { 
    padding: 0em; 
    background: transparent; 
    border-width: 0px; 
} 
#tabs .ui-tabs-nav li { 
    position: static; 
    margin: 0px; 
    border-bottom: 1px solid #5e337b !important; 
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px; 
} 
#tabs .ui-tabs-nav li:first-child { 
    -moz-border-radius: 6px 0px 0px 6px; 
    -webkit-border-radius: 6px 0px 0px 6px; 
    border-radius: 6px 0px 0px 6px; 
} 
#tabs .ui-tabs-nav li:last-child { 
    -moz-border-radius: 0px 6px 6px 0px; 
    -webkit-border-radius: 0px 6px 6px 0px; 
    border-radius: 0px 6px 6px 0px; 
} 
#tabs .ui-tabs-nav li.ui-tabs-selected { 
    padding-bottom: 0px; 
    border-bottom: 1px solid #d4ccb0 !important; 
}

 .btn {
    display: inline-block;
    margin-bottom: 15px;
}

h4 {
      margin: 8px 0 0px;
}
.card-user hr {
    margin: 20px 20px;
}

.nav-util{
  display: inline-block;
}

.nav-utility::before {
  content:'\2022';
  margin: 0 5px;
  padding-right: 2px;
}

</style>

<div class="wrapper">
<div class="sidebar" data-background-color="white" data-active-color="danger">
    
    <%= render partial: "applicant_sidebar" %>
    <div class="main-panel">
       <!-- TODO Add Footer Partial -->
        <%= render partial: "navbar" %>

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-xs-12">
                        <div class="card card-user">
                            <div class="image">
                                <%= image_tag('background.jpg') %>
                            </div>
                             <div class="content">
                                <a href="#" class="btn btn-success btn-simple" style="float: right; font-size: 1.5em;">
                                    <i id="profile-btn" class="ti-pencil" ></i>
                                 </a>
                                <div class="author">
                                 <% if @user.a_dp.file.nil? %>
                                    <%= image_tag('default-avatar.png', class:"avatar border-white", alt:"...") %>
                                  <% else %>
                                    <img src="<%=@user.a_dp.url %>"  class="avatar border-white" alt="..." />                     
                                  <% end %>
                                  <h3 class="title"><%= @user.name %></h3>
                                  <h4 class="nav-util"><span class="fa fa-envelope" aria-hidden="true"></span>  <%= @user.email %></h4>
                                  <h4 class="nav-util nav-utility"><span class="fa fa-phone" aria-hidden="true"></span>  <%= @user.telephone %></h4>
                                  <h4><span class="fa fa-map-marker" aria-hidden="true"></span>  <%= @user.address %></h4>
                                  <h4 class="nav-util"><%= @user.city %></h4>
                                  <h4 class="nav-util nav-utility"><%= @user.country %></h4>
                                </div>
                                <hr>
                                <h5 class="text-center">About me</h5>
                                <p class="description text-center">
                                    <%= @user.about_me %>
                                </p>
                                
                            </div>
                            <hr>
                            <div class="text-center">
                                <div class="row">
                                    <div class="col-md-3 col-md-offset-1">
                                        <div class="icon-big icon-info text-center">
                                            <i class="ti-twitter-alt"></i>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="icon-big icon-linkedin text-center">
                                            <i class="ti-linkedin"></i>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="icon-big icon-github text-center">
                                            <i class="ti-github"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

            <div class="card">
                         <!-- Beginning of card details -->


                         <p class="description text-center">
                            <% if @user.status  == 0 %>
                            <br>
                              Status: Applicant
                            <% elsif @user.status  == 1 %>
                            <br>
                              Status: Interviewer
                            <% end %>
                            <br>
                        </p>

                        <div class="text-center">
                            <div class="row">
                             <% if @user.submissions.length > 0 %>
                                <div class="col-md-6 col-xs-6">
                                   <%= link_to user_timeline_path(current_user) do %>
                                      <h5><%= @user.submissions.length %><br><small>Application(s)</small></h5>
                                   <% end %> 
                                </div>
                             <% end %>
                             <% if @user.companies.length > 0 %>
                                <div class="col-md-6 col-xs-6">

                             
                                <% if @user.last_company.nil? %>
                                      <%= link_to company_path(@user.companies.first) do %>
                                      <h5><%= @user.companies.length %><br><small> Organization(s)</small></h5>
                                   <% end %> 
                                <% else %>
                                     <% company = Company.friendly.find(@user.last_company) %>
                                      <%= link_to company_path(company) do %>
                                        <h5><%= @user.companies.length %><br><small> Organization(s)</small></h5>
                                   <% end %> 
                                <% end %>

                                </div>
                             <% end %>

                            </div>
                        </div>
                   
                         <!-- end of card details here -->
            </div>
            <div class="card">
                         <!-- Beginning of card details -->
                        <div class="content">
                           <div class="row">
                              <div class="col-md-10 col-xs-10">
                                  <h4>Experience</h4>
                              </div>
                              <div class="col-md-2 col-xs-2">
                                  <a href="#" class="btn btn-info btn-simple" style=" float: right;
    font-size: 1.5em;">
                                     <i id="experience-btn"class="ti-plus"></i>
                                   </a>
                              </div>
                           </div>

                        </div>
                         <!-- end of card details here -->
            </div>
            <div class="card">
                         <!-- Beginning of card details -->
                        <div class="content">
                           <div class="row">
                              <div class="col-md-10 col-xs-10">
                                  <h4>Education</h4>
                              </div>
                              <div class="col-md-2 col-xs-2">
                                  <a href="#" class="btn btn-info btn-simple" style=" float: right;
    font-size: 1.5em;">
                                     <i id="education-btn" class="ti-plus"></i>
                                   </a>
                              </div>
                           </div>
                           <% @user.educations.each_with_index do | education, index | %>
                                <div class="row">
                                  <div class="col-md-10 col-xs-10">
                                  <h5> <%= education["School"] %>  </h5>
                                  </div>
                                   <div class="col-md-10 col-xs-10">
                                      <%= education["Qualification"] %>  %>
                                  </div>
                                  <div class="col-md-10 col-xs-10">
                                      <%= education["years"] %>
                                  </div>
                                  <div class="col-md-2 col-xs-2">
                                      <a href="#" class="btn btn-success btn-simple" style="float: right; font-size: 1.5em;">
                                        <i id="profile-btn" class="ti-pencil update-education"  edu-id="<%= index  %>"></i>
                                      </a>
                                  </div>
                              </div>
                          <% end %>
                        </div>
                         <!-- end of card details here -->
            </div>
             <div class="card">
                         <!-- Beginning of card details -->
                        <div class="content">
                           <div class="row">
                              <div class="col-md-10 col-xs-10">
                                  <h4>Skills</h4>
                              </div>
                              <div class="col-md-2 col-xs-2">
                                  <a href="#" class="btn btn-info btn-simple" style=" float: right;
    font-size: 1.5em;">
                                     <i id="skills-btn" class="ti-plus"></i>
                                   </a>
                              </div>
                           </div>
                           
                        </div>
                         <!-- end of card details here -->
            </div>

                    </div>

                     

                </div>
            </div>
        </div>
    </div>
</div>
</div> 
</div>

<!-- Here is the modal for applicant account profile -->
<div class="modal fade" id="modal-profile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>  
      </div>
      <input type="text" id="remove-id" hidden >
      <div class="modal-body" id="remove-body">
         <div  class="content">
                               
                                  <input type="hidden" name="update" value="update">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Name</label>
                                                <input type="text" class="form-control border-input"  placeholder="Firstname Lastname" name="name" value="<%= @user.name %>">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Email</label>
                                                <input type="email" class="form-control border-input" placeholder="Email Address" class="address" name="email" value="<%= @user.email %>">
                                            </div>
                                        <div class="form-group">
                                                <label>Phone</label>
                                                <input type="email" class="form-control border-input" placeholder="Email Address" class="address" name="email" value="<%= @user.telephone %>">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Address</label>
                                                <input type="text" class="form-control border-input" placeholder="Address" value="<%= @user.address %>" name="address">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>City</label>
                                                <input type="text" class="form-control border-input" placeholder="City" value="<%= @user.city %>" name="city">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Country</label>
                                                <input type="text" class="form-control border-input" placeholder="Country" value="<%= @user.country %>" name="country">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>About Me</label>
                                                <textarea rows="5" class="form-control border-input" placeholder="Here can be your description" value="<%= @user.about_me %>" name="about_me"> <%= @user.about_me %> </textarea>
                                            </div>
                                        </div>
                                    </div>


                                   <!-- add csrf token -->
                                    <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>                             

                                   <!--  <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label >Current Password</label>
                                                <input id="current-password" type="password" class="form-control border-input"  placeholder="Current password" name="current_password" >
                                            </div>
                                        </div>
                                    </div> -->
                                   <!-- <a href="#demo" data-toggle="collapse" style="color: #68B3C8">Click here to change password</a> -->
<!-- 
                                <div id="demo" class="collapse">

                                     <hr>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Password</label>
                                                <input type="password" class="form-control border-input" placeholder="Password" name="password">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Confirm Password</label>
                                                <input type="password" id="confirm-password" class="form-control border-input" placeholder="Confirm Password" name="confirm_password"  >
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div> -->
                        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn box-shape" data-dismiss="modal"> No </button>
        <button type="button" id="remove-yes" class="btn box-shape"> Yes </button>
      </div>
    </div>
  </div>
</div>

<!-- Here is the modal for applicant Experience-->
<div class="modal fade" id="modal-experience" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
       Head content should be here
      </div>
      <input type="text" id="remove-id" hidden >
      <div class="modal-body" id="remove-body">
          <div class="row"> 
          
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn box-shape" data-dismiss="modal"> No </button>
        <button type="button" id="remove-yes" class="btn box-shape"> Yes </button>
      </div>
    </div>
  </div>
</div>

<!-- Here is the modal for applicant Education-->
<div class="modal fade" id="modal-education" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> 
        Add Education
      </div>
      <input type="text" id="remove-id" hidden >
      <div class="modal-body" id="remove-body">
     <div class="content">
         <form id="form-education" >
          <input type="hidden" name="update" value="update">
            <div class="row">
               <div class="col-md-12">
                    <div class="form-group">
                        <label>School</label>
                        <input type="text" class="form-control border-input" name="School"  placeholder="School name(ex: University of Accra)">
                    </div>
               </div>
               <div class="col-md-12">
                    <div class="form-group">
                       <label> Degree </label>
                       <select name="degree" class="form-control border-input">
                             <option value="B.sc">B.sc</option>
                             <option value="Phd">Phd</option>
                             <option value="B.sc">B.sc</option>
                             <option value="Phd">Phd</option>
                             <option value="B.sc">B.sc</option>
                             <option value="Phd">Phd</option>
                       </select>
                     </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Field Of Study</label>
                        <input type="email" class="form-control border-input" name="Discipline"  placeholder="(ex: Computer Science)"  >
                    </div>
                </div>
<div class="col-md-12">
                    <div class="form-group">
                        <label>Grade</label>
                        <input type="email" class="form-control border-input" placeholder="(ex: 1st class honor)"  name="Qualification" >
                    </div>
<div class="form-group">
                        <label>Year</label>
                        <input type="email" class="form-control border-input" placeholder="(ex: 2003 - 2007)"  name="years">
                    </div>
                </div>
            </div>
            </form>
     </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="save-education" class="btn box-shape"> Save </button>
      </div>
    </div>
  </div>
</div>

<!-- Here is the modal for applicant skills-->
<div class="modal fade" id="modal-skills" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        Head Title will be here 
      </div>
      <input type="text" id="remove-id" hidden >
      <div class="modal-body" id="remove-body">
         <div  class="content"> 
           <div id="tabs-4" class="content"> 
             <div class="col-sm-10 col-sm-offset-1">

                 <div class="form-group has-error">
                     <label id="tag-label" class="control-label" for="tags"></label>
                     <input name="skill" type="text" value="<%= @user.skill %>" id="tags" class="form-control" >          
                 </div>
             </div>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn box-shape" data-dismiss="modal"> No </button>
        <button type="button" id="remove-yes" class="btn box-shape"> Yes </button>
      </div>
    </div>
  </div>
</div>

<!-- object of modal element -->




<!-- end of modal object -->
<script>

$("#experience-btn").click(function(){
    $("#modal-experience").modal();
 });
$("#education-btn").click(function(){
    $("#modal-education").modal();
 });
$("#skills-btn").click(function(){
    $("#modal-skills").modal();
});

$("#profile-btn").click(function(){
  $("#modal-profile").modal();
});

$('#tags').tagit({
        tagLimit: 15,
        placeholderText: "Skills",
        onTagLimitExceeded : function(event, ui){
            $("#tag-label").html("Tags cannot be more than fifteen");
            $("#tag-label").show();
            $("#tag-label").fadeOut(7000);
        },
       availableTags: ["Advertising",
"programming",
"Graphic Design" ,
"Communication",
"Data Analysis",
"Copywriting",
"Planning/Event Planning",
"SEO/SEM Marketing",
"Chemical", 
"Computer",
"Hardware",
"Manufacturering",
"Power",
"Construction",
"Distribution",
"Electricity",
"Energy",
"Enterprise",
"Suppliers",
"Internet",
"Banking",
"Consulting",
"Research",
"Publishing",
"Exploration",
"Production",
"Servicing",
"Computing",
"Communication",
"Security",
"Shipping",
"Software",
"Stilities",
"Venture capital",
"Game companies",
"Media"
],
        showAutocompleteOnFocus: true,
        autocomplete: {
            delay: 0,
            minLength: 0,
            position: { collision: "flip" },
         },


    });

  $( function() {
    $("#tabs").tabs();
  } );

  <% flash.each do |key, value| %>
    showMessage('top','center', "<%= value %>", <%= (key == "success") ? 2: 4 %>);
  <% end %>

$("#update").click(function(event){
    $("#form").submit();
});

$("#save-education").click(function(){
    var data = $("#form-education").serializeJSON();
    $.ajax({
        url: '/update_education',
        type: 'PUT',
        data: {data: data, status: "new"},
        success: function(data){
            alert(data);
        },
        error : function(jqXHR, textStatus, errorThrown) {

         }
     });
});

$(".update-education").click(function(){
    var pos = $(this).attr("edu-id");
    $.ajax({
        url: '/retrieve_education',
        type: 'GET',
        data: { status: "update", pos: pos },
        success: function(data){
            console.log(data);
        },
        error : function(jqXHR, textStatus, errorThrown) {

         }
     });
});
</script>


