<style>

 .btn {
    display: inline-block;
    margin-bottom: 15px;
}

h4 {
      margin: 8px 0 0px;
}
.card-user hr {
    margin: 20px 20px;
}

.nav-util{
  display: inline-block;
}

.nav-utility::before {
  content:'\2022';
  margin: 0 5px;
  padding-right: 2px;
}

</style>

<div class="wrapper">
<div class="sidebar" data-background-color="white" data-active-color="danger">
    
    <%= render partial: "applicant_sidebar" %>
    <div class="main-panel">
       <!-- TODO Add Footer Partial -->
        <%= render partial: "navbar" %>

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-xs-12">
                        <div class="card card-user">
                            <div class="image">
                                <%= image_tag('background.jpg') %>
                            </div>
                             <div class="content">
                                <a href="#" class="btn btn-success btn-simple" style="float: right; font-size: 1.5em;">
                                    <i id="profile-btn" class="ti-pencil" ></i>
                                 </a>
                                <div class="author">
                                 <% if @user.a_dp.file.nil? %>
                                    <%= image_tag('avatar.png', class:"avatar border-white", alt:"...") %>
                                  <% else %>
                                    <img src="<%=@user.a_dp.url %>"  class="avatar border-white" alt="..." />                     
                                  <% end %>
                                  <h3 class="title"><%= @user.name %></h3>
                                  <h4 class="nav-util"><span class="fa fa-envelope" aria-hidden="true"></span>  <%= @user.email %></h4>
                                  <h4 class="nav-util nav-utility"><span class="fa fa-phone" aria-hidden="true"></span>  <%= @user.telephone %></h4>
                                  <h4><span class="fa fa-map-marker" aria-hidden="true"></span>  <%= (!@user.address.nil?) ? @user.address: "Address" %></h4>
                                  <h4 class="nav-util"> <%= (!@user.city.nil?) ? @user.city: "City" %>, <%= (!@user.state.nil?) ? @user.state: " State" %></h4>
                                  <h4 class="nav-util nav-utility"> <%= (!@user.country.nil?) ? @user.country: "Enter Country" %></h4>

                                </div>
                                <hr>
                                <h5 class="text-center">About me</h5>
                                <p class="description text-center">
                                    <%= @user.about_me %>
                                </p>
                            </div>
                            <hr>
                            <div class="text-center">
                                <div class="row">
                                    <div class="col-md-3 col-md-offset-1">
                                        <a href="<%= (@user.social != nil &&  @user.social["twitter"] != nil ) ? @user.social["twitter"]: ""  %>" >
                                            <div class="icon-big icon-info text-center">
                                                <i class="ti-twitter-alt"></i>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a href="<%= (@user.social != nil &&  @user.social["linkedin"] != nil ) ? @user.social["linkedin"]: ""  %>" >
                                        <div class="icon-big icon-linkedin text-center">
                                            <i class="ti-linkedin"></i>
                                        </div>
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="<%= (@user.social != nil &&  @user.social["github"] != nil ) ? @user.social["github"]: ""  %>">
                                        <div class="icon-big icon-github text-center">
                                            <i class="ti-github"></i>
                                        </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

            
            <%# <div class="card"> %>
            <%#              <!-- Beginning of card details --> %>
            <%#             <div class="content"> %>
            <%#                <div class="row"> %>
            <%#                   <div class="col-md-10 col-xs-10"> %>
            <%#                       <h4>Experience</h4> %>
            <%#                   </div> %>
            <%#                   <div class="col-md-2 col-xs-2"> %>
            <%#                       <a href="#" class="btn btn-info btn-simple" style=" float: right; %>
    <%# font-size: 1.5em;"> %>
            <%#                          <i id="experience-btn"class="ti-plus"></i> %>
            <%#                        </a> %>
            <%#                   </div> %>
            <%#                </div> %>

            <%#             </div> %>
            <%#              <!-- end of card details here --> %>
            <%# </div> %>
            <div class="card">
                         <!-- Beginning of card details -->
                        <div class="content" id="education-container">
                           <div class="row">
                              <div class="col-md-10 col-xs-10">
                                  <h4>Education</h4>
                              </div>
                              <div class="col-md-2 col-xs-2">
                    <a href="#" class="btn btn-info btn-simple" style=" float: right;
    font-size: 1.5em;">
                                     <i data-target="add" class="ti-plus education-btn"></i>
                                   </a>
                              </div>
                           </div>
                         <%if !@user.educations.nil? %>
                         <% @user.educations.each_with_index do | education, index | %>
                                <div class="row">
                                  <div class="col-md-10 col-xs-10">
                                  <h5> <%= education["school"] %>  </h5>
                                  </div>
                                   <div class="col-md-10 col-xs-10">
                                      <%= education["qualification"] %>, <%= education["discipline"] %>
                                  </div>
                                  <div class="col-md-10 col-xs-10">
                                      <%= education["years"] %>
                                  </div>
                                  <div class="col-md-2 col-xs-2">
                                       <a href="#" class="btn btn-success btn-simple" style="float: right; font-size: 1.5em;">
                                         <i id="profile-btn" class="ti-pencil update-education"  edu-id="<%= index  %>"></i>
                                       </a> 
                                      <a href="#" class="btn btn-success btn-simple" style="float: right; font-size: 1.5em;">
                                        <i id="profile-btn" class="ti-close delete-education"  edu-id="<%= index  %>"></i>
                                      </a>
                                   </div>
                              </div>
                          <% end %>
                          <% end %>
                        </div>
                         <!-- end of card details here -->
            </div>
             <div class="card">
                         <!-- Beginning of card details -->
                        <div class="content">
                            <form action="<%= update_account_skill_path %>" method="POST" >
                           <div class="row">
                              <div class="col-md-10 col-xs-10">
                                  <h4>Skills</h4>
                              </div>

                    <div class="col-md-2 col-xs-2">
                    <button href="#" class="btn btn-info btn-simple" style="float: right; font-size: 1.5em;">
                             <i data-target="add" class="ti-save skill-btn"></i>
                    </button>
                              </div>
                           </div>
                           <div>
                 <div class="form-group has-error">
                     <label id="tag-label" class="control-label" for="tags"></label>
                     <input name="skill" type="text" value="<%= @user.skill %>" id="tags" class="form-control" >          
                 </div>
                           </div>
                           
                            </form>
                        </div>
                         <!-- end of card details here -->
            </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div> 
</div>

<!-- Here is the modal for applicant account profile -->
<div class="modal fade" id="modal-profile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <form action="<%= update_account_profile_path %>" method="POST" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>  
        Profile
      </div>
      <div class="modal-body" >
         <div  class="content">
                                  <input type="hidden" name="update" value="update">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label>Name</label>
                                                <input type="text" class="form-control border-input"  placeholder="Firstname Lastname" name="name" value="<%= @user.name %>">
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-offset-1">
                                                <div class="picture-container">
                                                    <div class="picture">
                                                     <% if !@user.a_dp.file.nil? %>
                                                     <img src="<%=@user.a_dp.url %>"  class="avatar border-white" alt="..." />
                                                        <% else %>
                                                            <%= image_tag('default.jpg', class:"picture-src", id:"wizardPicturePreview",title:"") %>
                                                        <%end%>
                                                        <input type="file" id="wizard-picture" name="a_dp">
                                                    </div>
                                                </div>
                                         </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Email</label>
                                                <input type="email" class="form-control border-input" placeholder="Email Address" class="address" name="email" value="<%= @user.email %>">
                                            </div>
                                        <div class="form-group">
                                                <label>Phone</label>
                                                <input type="text" class="form-control border-input" placeholder="Email Address" class="address" name="telephone" value="<%= @user.telephone %>">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Address</label>
                                                <input type="text" class="form-control border-input" placeholder="Address" value="<%= @user.address %>" name="address">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>City</label>
                                                <input type="text" class="form-control border-input" placeholder="City" value="<%= @user.city %>" name="city">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>State</label>
                                                <input type="text" class="form-control border-input" placeholder="State" value="<%= @user.state %>" name="state">
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Country</label>
                                                <input type="text" class="form-control border-input" placeholder="Country" value="<%= @user.country %>" name="country">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>About Me</label>
                                                <textarea rows="5" class="form-control border-input" placeholder="Here can be your description" value="<%= @user.about_me %>" name="about_me"> <%= @user.about_me %> </textarea>
                                            </div>
                                        </div>
     <div class="col-md-4">
        <div class="input-group">
            <span class="input-group-addon"><i class="ti-twitter-alt"></i></span>
            <input class="form-control " placeholder="twitter link" name="social[twitter]" type="text"  value="" />
        </div>
   </div>
<div class="col-md-4">
        <div class="input-group">
            <span class="input-group-addon"><i class="ti-linkedin"></i></span>
            <input class="form-control " placeholder="linkedin link" name="social[linkedin]" type="text"  value="" />

        </div>
</div>
<div class="col-md-4">
        <div class="input-group">
            <span class="input-group-addon"><i class="ti-github"></i></span>
            <input class="form-control" placeholder="github link" name="social[github]"  value="" />
        </div>
</div>
                                            
                                        </div>
                                    </div>

           <!-- add csrf token -->
        <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>                             

           
                        </div>
      <div class="modal-footer">
        <button type="submit"  class="btn box-shape">Update</button>
      </div>
        </form>
    </div>
  </div>
</div>

<!-- Here is the modal for applicant Experience-->
<div class="modal fade" id="modal-experience" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
       Head content should be here
      </div>
      <input type="text" id="remove-id" hidden >
      <div class="modal-body" id="remove-body">
          <div class="row"> 
          
          </div>
      </div>
      <div class="modal-footer">
        <button type="button"  class="btn box-shape">Yes</button>
      </div>
    </div>
  </div>
</div>

<!-- Here is the modal for applicant Education-->
<div class="modal fade" id="modal-education" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> 
        Add Education
      </div>
      <input type="text" id="remove-id" hidden >
      <div class="modal-body" id="remove-body">
     <div class="content">
         <form id="form-education" >
          <input type="hidden" name="update" value="update">
            <div class="row">
               <div class="col-md-12">
                    <div class="form-group">
                        <label>School</label>
                        <input type="text" class="form-control border-input" name="school"  placeholder="School name(ex: University of Accra)">
                    </div>
               </div>
               <div class="col-md-12">
                    <div class="form-group">
                       <label> Degree </label>
                       <select name="qualification" class="form-control border-input">
                             <option value="B.sc">Ond</option>
                             <option value="Phd">Hnd</option>
                             <option value="B.sc">B.sc</option>
                             <option value="Phd">M.sc</option>
                             <option value="B.sc">Phd</option>
                       </select>
                     </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Field Of Study</label>
                        <input type="email" class="form-control border-input" name="discipline"  placeholder="(ex: Computer Science)"  >
                    </div>
                </div>
<div class="col-md-12">
                    <div class="form-group">
                        <label>Grade</label>
                        <input type="email" class="form-control border-input" placeholder="(ex: 1st class honor)"  name="grade" >
                    </div>
<div class="form-group">
                        <label>Year</label>
                        <input type="email" class="form-control border-input" placeholder="(ex: 2003 - 2007)"  name="years">
                    </div>
                </div>
            </div>
            </form>
     </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="save-education" class="btn box-shape"> Save </button>
      </div>
    </div>
  </div>
</div>


<!-- end of modal object -->
<script>

$("#experience-btn").click(function(){
    $("#modal-experience").modal();
}); 

$(".education-btn").click(function(e){
     var target = $(this).attr("data-target");
    $("#form-education").trigger("reset");
    $('#save-education').html("Save");
    $('#save-education').attr("which", "new");
     $("#modal-education").modal();
    
}); 





$("#profile-btn").click(function(){
  $("#modal-profile").modal();
});

$('#tags').tagit({
        tagLimit: 15,
        placeholderText: "Add skills ",
        onTagLimitExceeded : function(event, ui){
            $("#tag-label").html("Tags cannot be more than fifteen");
            $("#tag-label").show();
            $("#tag-label").fadeOut(7000);
        },
       availableTags: ["Advertising",
"programming",
"Graphic Design" ,
"Communication",
"Data Analysis",
"Copywriting",
"Planning/Event Planning",
"SEO/SEM Marketing",
"Chemical", 
"Computer",
"Hardware",
"Manufacturering",
"Power",
"Construction",
"Distribution",
"Electricity",
"Energy",
"Enterprise",
"Suppliers",
"Internet",
"Banking",
"Consulting",
"Research",
"Publishing",
"Exploration",
"Production",
"Servicing",
"Computing",
"Communication",
"Security",
"Shipping",
"Software",
"Stilities",
"Venture capital",
"Game companies",
"Media"
],
        showAutocompleteOnFocus: true,
        autocomplete: {
            delay: 0,
            minLength: 0,
            position: { collision: "flip" },
         },
    });

  <% flash.each do |key, value| %>
    showMessage('top','center', "<%= value %>", <%= (key == "success") ? 2: 4 %>);
  <% end %>

$("#update").click(function(event){
    $("#form").submit();
});

$("#save-education").click(function(){
    var type = $(this).attr("which");
    var data = $("#form-education").serializeJSON();
    var pos = 0 ;
    if (type == "update"){
        pos =  $('#save-education').attr("pos");
    } 
    console.log(pos);
    console.log(type);

    $.ajax({
        url: '/update_education',
        type: 'PUT',
        data: {data: data, status: type, pos: pos},
        success: function(data){
               location.reload(); 
        },
        error : function(jqXHR, textStatus, errorThrown) {
             
        }
    });
});

<%# $(".save-skills").click( function(){ %>
<%#     $.ajax({ %>
<%#         url: '/update_skill', %>
<%#         type: 'PUT', %>
<%#         data: {data: pos}, %>
<%#         success: function(data){ %>
<%#             if (data == "successful"){ %>
<%#                swal("Removed!", "You can always re-add it", "success"); %>
<%#             } %>
<%#         }, %>
<%#         error : function(jqXHR, textStatus, errorThrown) { %>

<%#          } %>
<%#      }); %>
<%# }); %>


$(".update-education").click(function(){
    var pos = $(this).attr("edu-id");
    $.ajax({
        url: '/retrieve_education',
        type: 'GET',
        data: { status: "update", pos: pos },
        success: function(data){
           $('input[name=school]').val(data.data["school"]);
           $('input[name=qualification]').val(data.data["qualification"]);
           $('input[name=discipline]').val(data.data["discipline"]);
           $('input[name=grade]').val(data.data["grade"]);
           $('input[name=years]').val(data.data["years"]);
           $('#save-education').html("Update");
           $('#save-education').attr("which", "update");
           $('#save-education').attr("pos", pos);
           $("#modal-education").modal();
        },
        error : function(jqXHR, textStatus, errorThrown) {

         }
     });
});

$(".delete-education").click(function(){
   var pos = $(this).attr("edu-id");
    $.ajax({
        url: '/delete_education',
        type: 'DELETE',
        data: {pos: pos},
        success: function(data){
            if (data == "successful"){

             swal({
                    title: 'Deleted Successfully',
                    text: "You can always re-add the same details",
                    type: 'success',
                    confirmButtonClass: 'btn btn-success btn-fill',
                    confirmButtonText: 'Okay',
                    buttonsStyling: false
                }).then(function() {
                   location.reload();   
                });

            }
        },
        error : function(jqXHR, textStatus, errorThrown) {

         }
     });
 });

</script>


