
<div class="wrapper">

 <div class="sidebar" data-background-color="white" data-active-color="danger">

<!-- TODO Add Sidebar Panel -->
    <%= render partial: "applicant_sidebar" %>
     
    <div class="main-panel">
        
        <!-- TODO Add Footer Partial -->
        <%= render partial: "navbar" %>


        <div class="content">
            <div class="container-fluid">
            	<div class="row">
                        <!-- test for zero state -->
                        <% if @user.submissions.length > 0 %>
                       

                           <% @user.submissions.each do | submission | %>
                        <% if !submission.interview.nil? %>
                    <div class="col-md-5">
                        <div class="card box-shape">
                            
                    <div class="content">
                      <div class="row">
                        <div class="col-md-5 col-sm-5">
                                <% if submission.interview.company.logo.file.nil? %>
                                 <%= image_tag('placeholder-company.png', style:"height: 65px; width: 140px;") %>
                                <% else %>
                                  <img src="<%= submission.interview.company.logo.url %>" style="height: 65px; width: 140px;"/>
                                <% end %>
                                   <h5 class="title"><%= submission.interview.company.name %> </h5>
                                   <a href="https://<%= submission.interview.company.subdomain %>.dropque.com"> <%= submission.interview.company.subdomain %>.dropque.com </a> <br>
                                <br>
                                 
                        </div> 
                        <div class="col-md-7 col-sm-7">
                                   <h4 class="title"><%= submission.interview.title %> </h4>
                                <p class="category"><%= truncate(submission.interview.description , :length => 130) %></p>
                                                            
                                <hr>
                                Progress Level:

                                <% if submission.current_no == 500 %>
                                    Completed
                                <% elsif submission.current_no.nil?  %>                             
                                 0 / <%= submission.interview.questions.length %>
                                <% else %>
                                 <%= submission.current_no %> / <%= submission.interview.questions.length %>
                                <% end %>
                             
                              <div class="chart-legend">

                                
                                   Status:  
                                     <% if submission.current_no.nil? %>
                                        Not Stated
                                     <% elsif submission.status.nil? && submission.current_no < 500  %>
                                        <i class="fa fa-circle text-primary"></i> Uncompleted Interview
                                     <% elsif submission.status.nil? && submission.current_no == 500 %>
                                        <i class="fa fa-circle text-info"></i>  In Review
                                     <% elsif submission.status == 'shortlist' %>
                                        <i class="fa fa-circle text-success"></i> Shortlisted
                                     <% elsif submission.status == 'pend' %>
                                       <i class="fa fa-circle text-warning"></i> Pending
                                     <% elsif submission.status == 'reject' %>
                                        <i class="fa fa-circle text-danger"></i> Reject
                                     <% end %>                                        
                              </div>
                        </div>
                        <div class="col-md-12 text-center">
                           <a href="https://<%=  submission.interview.company.subdomain %>.dropque.com/applicants/<%= submission.interview.interview_token %>"><button class="btn btn-finish btn-fill btn-info btn-wd box-shape">
                                      <% if submission.current_no.nil? %> 
                                    Start
                                  <% elsif submission.current_no < 500 %>
                                    Resume 
                                  <% elsif submission.current_no == 500 %>
                                     View
                                  <% end %></button>
                                  </a>
                        </div>
                       
                      </div>
                                <div class="footer">
                                   
                                    <hr>

                  <div class="row block-display">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="stats">
                              <i class="ti-timer"></i> Created:<br><%=  submission.interview.created_at.strftime("%d-%m-%Y") %>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                          <div class="stats">
                            <i class="ti-timer"></i> Updated:<br><%=  submission.interview.updated_at.strftime("%d-%m-%Y") %>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                          <% if !submission.interview.deadline.nil? %>
                            <div class="stats">
                              <i class="ti-timer"></i> Deadline:<br><%=  submission.interview.deadline.strftime("%d-%m-%Y") %>
                            </div>
                          <% end %>
                  </div>


                                </div>
                            </div>

                        </div>
                    </div>
                    <% end %>
                    <% end %>




                        <% else %>
                          <div class="col-md-8 col-md-offset-2">
                            <div class="content">
                              <%= render partial: "when_empty_applications" %>
                            </div>
                          </div>
                        <% end %>
            	
                    </div>
    </div>
</div>

    </div>
    </div>
</div>

<script >

<% flash.each do |key, value| %>
    showMessage('top','center', "<%= value %>", 2);                   
<% end %>

</script>


