<div class="wrapper">
    <div class="sidebar" data-background-color="white" data-active-color="success">
    
<!-- TODO Add Sidebar Panel -->
 <%= render partial: "companies/sidebar" %>
<div class="main-panel">
<!-- TODO Add Navbar Panel -->
    <%= render partial: "users/navbar" %>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="card box-shape">
                          <div class="header">
                            <%= link_to 'Add contact', new_company_group_bulk_path, class: "btn float-right box-shape" %>
                             <h5><%= @group.name.capitalize %></h5>
                          </div>

                    <div class="content">

                            <% if !flash[:notice].blank? %>
                              <div class="alert alert-info">
                              <%= flash[:notice] %>
                              </div>
                            <% end %>
                           <!--  <center>
                              <strong><h3><%= @group.name %></h3></strong>
                            </center> -->
                      <div>
                        <table  class="table table-bordered table-striped">
                            <tbody>
                                <tr>
                                  <th>Name</th>
                                  <th>Email</th>
                                  <th>Telephone</th>
                                  <th colspan="2"></th>
                                </tr>
                                <% @bulks.each do |bulk| %>
                                  <tr>
                                    <td><%= bulk.name %></td>
                                    <td><%= bulk.email %></td>
                                    <td><%= bulk.telephone %></td>
                                    <td><%= link_to 'Modify', edit_company_group_bulk_path(id: bulk.id) %></td>
                                    <td><%= link_to 'Delete', company_group_bulk_path(id: bulk.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                                  </tr>
                                <% end %>
                              </tbody>
                        </table>
                      </div>

                <hr>
                <div class="header text-center">
                  <h5> Add Bulk Contact</h5>
                </div>
                  <%=form_tag import_company_group_bulks_path, multipart: true do %>
                    <label for="file-upload" class="btn custom-upload">
                      <%= file_field_tag :file, id:"file-upload" %>
                      Attach bulk file
                    </label>
                    <div class="text-center" >File should be one of Excel(xls, xlsx), Text(csv, txt)and Xml files</div>
                    <br>
                    <div class="text-center">
                       <%= submit_tag "Upload Contacts", class: "btn btn-info btn-fill btn-wd" %>
                    </div>
                    <br><br>
                  <% end %>

                   <!-- <div class="row">
                      <div class="col-md-12">
                          <div class="form-group">
                              <label for="file-upload" class="btn custom-upload">
                                  <input id="file-upload" type="file" name="logo">
                                 Organization Logo
                              </label>
                              <div class="text-center"><label>Transparent 330 X 80 pixels </label></div>
                          </div>
                      </div>
                  </div> -->


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>




