<% if !flash[:notice].blank? %>
<div class="alert alert-info">
<%= flash[:notice] %>
</div>
<% end %>


<h2>My Contact</h2>
<br/>
<%= link_to 'New', new_bulk_path, class: "btn btn-primary" %>
<br/>
<div class="media">
<div class="media-body">

<!-- <table  class="table table-bordered table-striped"> -->
<table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Telephone</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @bulks.each do |bulk| %>
          <tr>
            <td><%= bulk.name %></td>
            <td><%= bulk.email %></td>
            <td><%= bulk.telephone %></td>
            <td><%= link_to 'Modify', edit_bulk_path(bulk) %></td>
            <td><%= link_to 'Delete', bulk, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
</table>
</div>
</div>

<br>

<br/>
<h3> Import Contact</h3>
<%=form_tag import_bulks_path, multipart: true do %>
<%= file_field_tag :file %>
<%= submit_tag "Upload Contact"%>
<%end%>

