<div class="sidebar-wrapper">

            <div class="logo align">
                <% if @company.logo.file.nil? %>
                  <%= image_tag('dqlg.png') %>
                <% else %>
                  <img src="<%= @company.logo.url %>" style="height: 68px;"  />
                <% end %>

             </div>

            <ul class="nav">
                <li id="step1">
                    <%= link_to new_company_interview_path(params[:company_id] || params[:id]) do %>
                   <button  type="button" class="button">Create interview</button>
                   <% end %>
                </li>
                <li id="step2" class="<%= (params[:c] == "1") ? "active": "" %>"> 
                    <%= link_to company_path(params[:company_id] || params[:id], c: 1) do %>
                        <i class="ti-control-play"></i>
                        <p>QueBox</p>
                    <% end %>
                </li>
                <li id="step3" class="<%= (params[:c] == "2") ? "active": "" %>">
                    <%= link_to company_interviews_path(params[:company_id] || params[:id], c: 2) do %>
                        <i class="ti-user"></i>
                        <p>Interviews</p>
                    <% end %>
                </li>

                 
                <% if !@interview.nil? && @new_interview.nil? %>
                <li id="step4" class="<%= (params[:c] == "3") ? "active": "" %>">
                    <%= link_to company_interview_filtered_single_interview_path(params[:company_id] || params[:id], c: 3, status: 0, interview_id: @interview.slug) do %>
                        <i class="ti-check-box"></i>
                        <p>Shortlisted</p>
                    <% end %>

                </li>
                <li id="step5" class="<%= (params[:c] == "4") ? "active": "" %>">
                    <%= link_to company_interview_filtered_single_interview_path(params[:company_id] || params[:id], c: 4, status: 1, interview_id: @interview.slug) do %>
                        <i class="ti-pencil-alt"></i>
                        <p>Pending</p>
                    <% end %>

                </li>
                <li id="step6" class="<%= (params[:c] == "5") ? "active": "" %> ">
                    <%= link_to company_interview_filtered_single_interview_path(params[:company_id] || params[:id], c: 5, status: 2, interview_id: @interview.slug) do %>
                        <i class="ti-trash"></i>
                        <p>Declined</p>
                    <% end %>

                </li>
                <!-- <li id="step6" class="<%= (params[:c] == "6") ? "active": "" %> ">
                    <%= link_to company_interview_unfinish_submission_path(params[:company_id] || params[:id], c: 6, interview_id: @interview.slug) do %>
                        <i class="ti-control-pause"></i>
                        <p>Unfinished</p>
                    <% end %>
                </li>   -->
                <li id="step6" class="<%= (params[:c] == "6") ? "active": "" %> ">
                    <%= link_to  company_interview_export_submissions_path(params[:company_id] || params[:id], c: 6, interview_id: @interview.slug) do %>
                        <i class="ti-export"></i>
                        <p>Export Details</p>
                    <% end %>

                </li>

                <li id="step7" class="<%= (params[:c] == "7") ? "active": "" %> ">
                    <%= link_to  company_interview_reminder_path(company_id:@company.slug, c: 7, interview_id: @interview.slug) do %>
                        <i class="ti-bell"></i>
                        <p>Send  reminders</p>
                    <% end %>

                </li>

                <li id="step7" class="<%= (params[:c] == "7") ? "active": "" %> ">
                 <%= link_to  company_interview_sms_reminder_path(company_id:@company.slug, c: 7, interview_id: @interview.slug) do %>
                        <i class="ti-bell"></i>
                        <p>Send  SMS reminders</p>
                    <% end %>

                </li>

                <li id="step10" class="<%= (params[:c] == "7") ? "active": "" %> ">
                 <%= link_to "#" do %>
                        <i class="ti-bell"></i>
                        <p>Send  SMS reminders</p>
                        <!-- <button  type="button" class="button">Send Reminders</button> -->
                        <% end %>
                </li>





                <% end %>
            </ul>
        
    	</div>
    </div>
