<input id="current_status_stored" type="hidden" value="all" />
<input id="number_of_signin" type="hidden" value="<%= @sigin_in_count %>" />

<div class="wrapper">
    <div class="sidebar" data-background-color="white" data-active-color="danger">
    <!--
		Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
		Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
	-->
    	
<!-- TODO Add Sidebar Panel -->
    <%= render partial: "sidebar" %>
    <div class="main-panel">
<!-- TODO Add Navbar Panel -->
    <%= render partial: "users/navbar" %>

                <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-md-5">
                        <div class="card card-user">
                          <% if @company.image == nil %>
                            <div class="image">
                                 <%= image_tag('logo1.png')%>
                            </div>
                           <% else %>
                              <div class="image">
                                <img src="<%= @company.image %>" class="img-responsive" />
                              </div>
                           <% end %>

                            <hr>
                            <div class="text-center">
                                <div class="row">
                                    <div class="col-md-3 col-md-offset-1">
                                        <h5><%= @company.interviews.length %><br><small>Interviews</small></h5>
                                    </div>
                                    <div class="col-md-4">
                                        <h5 ><cnumber id="collaborator-number" ><%= @company.joint_user_companies.length %></cnumber><br><small> Collaborator(s)</small></h5>
                                    </div>
                                    
                                    <div class="col-md-3">
                                        <h5>0$<br><small>Spent</small></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="header">
                                <h4 class="title"> Collaborator(s) </h4>
                            </div>
                            <div class="content">
                                <ul class="list-unstyled team-members">
                                        
                                        <% @collborators.each do | collaborator | %>
                                        <li id="collaborator-<%= collaborator.id %>">
                                            <div class="row">
                                                <div class="col-xs-8">
                                                    <%= collaborator.user.name %> 
                                                  
                                                    <span class="text-danger">
                                                        <small><%= collaborator.user.email %></small>
                                                    </span>
                                                    <br>

                                               <% if collaborator.status == 0 %>
                                                    <span class="text-muted">
                                                        <small> (Owner) </small>
                                                    </span>
                                                <% elsif collaborator.status == 1 %>
                                                    <span class="text-muted">
                                                        <small> (Super Admin) </small>
                                                    </span>
                                                <% elsif collaborator.status == 2 %>
                                                <span class="text-muted">
                                                        <small> (Admin) </small>
                                                    </span>
                                                <% elsif collaborator.status == 3 %>
                                                    <span class="text-muted">
                                                        <small> (User) </small>
                                                    </span>
                                                <% end %>
                                                    
                                                </div>

                                                <% if collaborator.status == 0  &&  @user_status == 0 &&  @collborators.length > 1 %>
                                                    <div class="text-right right-margin">
                                                        <btn id="transfer-owner" class="btn btn-sm"><i class="ti-settings"></i>
                                                        </btn>
                                                   </div>

                                                   
                                                <% elsif collaborator.status == 1 &&  @user_status < 2 %>
                                                  <div class="text-right right-margin">
                                                        <btn class="btn btn-sm remove-collaborator" user="<%= collaborator.user.name %>" email="<%= collaborator.user.email %>" user-id="<%= collaborator.id %>"><i class="ti-close"></i>
                                                        </btn>
                                                   </div>
                                                  
                                                <% elsif collaborator.status == 2 &&  @user_status < 2 %>
                                                     <div class="text-right right-margin">
                                                        <btn class="btn btn-sm remove-collaborator" user="<%= collaborator.user.name %>" email="<%= collaborator.user.email %>" user-id="<%= collaborator.id %>"><i class="ti-close"></i>
                                                        </btn>
                                                   </div>
                                                <% elsif collaborator.status == 3 &&  @user_status < 2 %>
                                                   <div class="text-right right-margin">
                                                        <btn class="btn btn-sm remove-collaborator" user="<%= collaborator.user.name %>" email="<%= collaborator.user.email %>" user-id="<%= collaborator.id %>"><i class="ti-close"></i>
                                                        </btn>
                                                   </div>
                                                <% end %>

                                            </div>
                                        </li>
                                                
                                            <% end %>

                                        </ul>

                                         <div class="text-center">
                                                <!-- <h5 class="title"> Add Collaborator </h5> -->
                                                <hr/>
                                                    <btn id="add-collaborator" class='btn btn-wd'> Add New </btn>
                                                <hr/>
                                                
                                         </div>

                                         <div id="collaborator-container" class="text-center">
                                        
                                         </div>


                                 <form method="post"  action="<%= company_add_collaborators_path(params[:company_id] || params[:id]) %>">
                                  <!--  this will allow rails to use put method since it can 
                                    be used from a form submission  -->
                                    <input id="collaborators_list" name="collaborators_list" type="hidden" value="put" />

                                    <input  name="user_id" type="hidden" value="<%= @user.id %>" />

                                     <!-- add csrf token -->
                                    <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %> 
                                    
                                    <div class="text-center">
                                        <br/>
                                        <button id="submit-colloborators" type="submit" class="btn" > Submit </button>
                                    </div>
                                    
                                </form>
                                      
                                        
                                    
                            </div>
                             
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-7">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Company's Profile</h4>
                            </div>
                            <div class="content">

                                <!-- form start here  -->
                                <form method="post" enctype="multipart/form-data" action="<%= company_path(params[:company_id] || params[:id]) %>">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="form-group">
                                                <label>Name</label>
                                                <input type="text" class="form-control border-input" disabled="" placeholder="Company" value="<%=  @company.name %>">
                                            </div>
                                        </div>
    
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label > Subdomain</label>
                                                <input type="text" class="form-control border-input" value= ""  disabled="" placeholder="subdomain" name="subdomain">
                                            </div>
                                        </div>
                                    </div>

            

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Address</label>
                                                <input type="text" class="form-control border-input" placeholder="Company Address" value="<%= @company.address %>" class="address" name="address">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>City</label>
                                                <input type="text" class="form-control border-input" placeholder="City" value="<%= @company.city %>" name="city">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Country</label>
                                                <input type="text" class="form-control border-input" placeholder="Country" disabled="" value="<%= @company.country %>">
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="row">
                                        
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label> Tags </label>
                                                <input type="text" class="form-control border-input" placeholder="Tags" name="tags" >
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Description</label>
                                                <textarea rows="5" class="form-control border-input" placeholder="Description" name="description"><%= @company.description %>
                                            </textarea> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="file-upload" class="btn custom-upload">
                                                    <input id="file-upload" type="file" name="image">
                                                    click to update Image

                                                </label>
                                                      
                                            </div>
                                        </div>
                                    </div>

                                    <!--  this will allow rails to use put method since it can 
                                    be used from a form submission  -->
                                    <input name="_method" type="hidden" value="put" />

                                     <!-- add csrf token -->
                                    <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %> 
                                    
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-info btn-fill btn-wd">Update Profile</button>
                                    </div>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>

                        <!-- <div class="card">
                            <div class="row sharing-area text-center">
                                 <br>          
                                <button  type="button" class="btn btn-raised"> Take an interview</button>
                                <br><br>
                                      
                            </div> 
                        </div> -->


                    </div>


                </div>
            </div>
        </div>


<!-- TODO Add Footer Partial -->
        <%= render partial: "users/footer" %>
    </div>
    </div>
</div>

<!-- modal for comment -->
<div id="modal-list"></div>


<div class="modal fade" id="model-remove" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="myModalLabel"> Are you sure? </h5>
      </div>
      <input type="text" id="remove-id" hidden >
      <div class="modal-body" id="remove-body">
         
      </div>
      <div class="modal-footer">
        <button type="button" class="btn box-shape" data-dismiss="modal"> No </button>
        <button type="button" id="remove-yes" class="btn box-shape"> Yes </button>
      </div>
    </div>
  </div>
</div>

<!-- transfer ownership -->
<div class="modal fade" id="modal-transer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <form  action="<%= company_transfer_ownership_path(params[:company_id] || params[:id]) %>" method="post" >
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h5 class="modal-title" >  Transfer ownership to ? </h5>
          </div>
              <div class="modal-body">

                 <!-- add csrf token -->
                <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %> 
                <!-- using put request since form can't use put -->
                <input name="_method" type="hidden" value="put" />
                <input name="current_owner" value="<%= @user_company.id %>" type="hidden" />
                <select class='btn box-shape' name ="new_owner" > 
                    <% @collborators.each do | collaborator | %>
                      <% if collaborator.status != 0 %>
                        <option value='<%= collaborator.id %>'> <%= collaborator.user.name %> (<%= collaborator.user.email %>) </option>
                      <% end %>
                    <% end %>
                </select>
              </div>
          <div class="modal-footer">
            <button type="button" class="btn box-shape" data-dismiss="modal"> No </button>
            <button type="submit"  class="btn box-shape"> Yes </button>
          </div>
      </form>
    </div>
  </div>
</div>




<div id="add-new-object" hidden >
    <div class="collabs">
         <br/>
        <div class="form-group">
            <input type="email" class="form-control border-input" placeholder="Email" value="">
        </div>
        <select class='btn box-shape-1' > 
            <option value='1'> super admin </option>
            <option value='2'> admin </option>
            <option value='3'> user </option>
        </select>
       <btn class="btn box-shape  width-perfect remove-new-collaborator"><i class="ti-close"></i></btn>
    </div>
</div>



<script>

 // hide submit button for add collaborators
 $("#submit-colloborators").hide();

 $("#add-collaborator").click(function(){
    var newObject = $("#add-new-object").html() ; 
     $("#collaborator-container").append(newObject);
     // show submit button for collaborators
     $("#submit-colloborators").show();
 });



    // javascript to execure transer ownership
    $("#transfer-owner").click(function(){
        $("#modal-transer").modal();

    })


 $("#submit-colloborators").click(function(event){
        
        jsonObj = [];

         $("#collaborator-container").find(".collabs").each(function(index) {
             var emailObject = $(this).find("input");
             var email = emailObject.get(0).value ;
             var statusObject = $(this).find("option:selected");
             var status = statusObject.get(0).value;
             
             if (!email || !status){
                // check if email or status is empty
                showMessage('top','right', "Email cannot be empty", 4);
                event.preventDefault();

             } else{
                
                collaborateItem = {}
                collaborateItem["email"] = email;
                collaborateItem["status"] = status ;
                jsonObj.push(collaborateItem);
             }
             
        });

            $("#collaborators_list").val(JSON.stringify(jsonObj));
            console.log(JSON.stringify(jsonObj));

    });


 // remove collaborator's javascript code
     $(".remove-collaborator").click(function(){
        var username = $(this).attr("user");
        var email =  $(this).attr("email");
        var user_id = $(this).attr("user-id");

         $("#remove-id").val(user_id);
        if (user_id == "<%= @user_company.id %>" ){
            $("#remove-body").html("You <b>"+username+"("+email+")</b>"+" want to leave this company");
        } else {
            $("#remove-body").html("Remove <b>"+username+"("+email+")</b>"+" from collaborators");
        }

        $("#model-remove").modal();
            // alert("are you sure you want"+ username + email + user_id);
     });

     // if yes is clicked to remove collaborators
     $("#remove-yes").click(function(){
        var removeUserId = $("#remove-id").val();
        $('#model-remove').modal('hide')
        
        // to remove user
        $.ajax({
              url: '<%= company_remove_collaborator_path(params[:company_id] || params[:id]) %>',
              type: 'DELETE',
              data :{ user_company_id: removeUserId },
              success: function(data){
                $("#collaborator-"+removeUserId).remove();
                $("#collaborator-number").text(parseInt($("#collaborator-number").text()) - 1 );
                  if (data == "success"){
                        console.log("success");
                  }
              },
              error : function(jqXHR, textStatus, errorThrown) {
                  showMessage('top','right', "An error occur, please try again", 4);
               }
           });
     });


     $("#collaborator-container").on("click", ".remove-new-collaborator", function(){
        $(this).parents('div.collabs')[0].remove();

        if ($.trim($("#collaborator-container").text()) == ""){
             // hide submit button for collaborators
             $("#submit-colloborators").hide();
        }
    });

    

</script>
