<style>

.form-control {
    background-color: #FFFFFF;
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    box-shadow: none;
    color: #444444;
    height: 38px;
    padding: 6px 16px;
}
.form-search .form-control-search {
    background-color: rgba(121,121,121,0.55);
    box-shadow: none;
    border: medium none;
    border-radius: 30px;
    box-shadow: 0 0 0;
    color: #FFFFFF;
    display: block;
    font-size: 20px;
    font-weight: 300;
    height: 50px;
    line-height: 1.42857;
    padding: 6px 20px;
    vertical-align: middle;
    transition: background-color .2s;
}
</style>
<div class="wrapper">
    <div class="sidebar" data-background-color="white" data-active-color="success">

<!-- TODO Add Sidebar Panel -->
     <%= render partial: "companies/sidebar" %>
    <div class="main-panel">
<!-- TODO Add Navbar Panel -->
    <%= render partial: "users/navbar" %>

   <div class="formatting">
	    	<form class="navbar-form center" role="search" method="GET" action="/companies/<%= @company.slug %>/talent" >

                    <div class="row" col-xs-12 col-sm-12 col-md-12 col-lg-12>
					<div class="form-group  is-empty" col-xs-3 col-sm-3 col-md-3 col-lg-3 >
					<select name='category' value='<%= params[:category]%>'>
					<option>Any</option>>
						<% @cand_cat = ""%>
	                   <% if params[:category].present? %>
	                   <% @cand_cat = params[:category]%>
	                   <%end%>
	                   <% @search_category.each do |cat|%>
	                   <% if cat == @cand_cat %>
	                    <option selected='selected' ><%=  cat %></option>
	                    <%else%>
	                   <option><%=  cat %></option>
                      <%end%>
                      <%end%>
				   </select>
						<input type="text" class="form-control" name="search" placeholder="Enter a key word" value="<%= params[:search]%>">
						<span class="material-input"></span>

					</div>

					<div class="form-group  is-empty" col-xs-3 col-sm-3 col-md-3 col-lg-3 >
					<select name='category2' value='<%= params[:category2]%>'>
					<option>Any</option>>
						<% @cand_cat2 = ""%>
	                   <% if params[:category2].present? %>
	                   <% @cand_cat2 = params[:category2]%>
	                   <%end%>
	                   <% @search_category.each do |cat2|%>
	                   <% if cat2 == @cand_cat2 %>
	                    <option selected='selected' ><%=  cat2 %></option>
	                    <%else%>
	                   <option><%=  cat2 %></option>
                      <%end%>
                      <%end%>
				   </select>
						<input type="text" class="form-control" name="search2" placeholder="Enter a key word" value="<%=params[:search2]%>" >
						<span class="material-input"></span>

					</div>

					<div class="form-group  is-empty" col-xs-3 col-sm-3 col-md-3 col-lg-3 >
					<select name='category3' value='<%= params[:category3]%>'>
					<option>Any</option>>
						<% @cand_cat3 = ""%>
	                   <% if params[:category3].present? %>
	                   <% @cand_cat3 = params[:category3]%>
	                   <%end%>
	                   <% @search_category.each do |cat3|%>
	                   <% if cat3 == @cand_cat3 %>
	                    <option selected='selected' ><%=  cat3 %></option>
	                    <%else%>
	                   <option><%=  cat3 %></option>
                      <%end%>
                      <%end%>
				   </select>
						<input type="text" class="form-control" name="search3" placeholder="Enter a key word" value="<%=params[:search3]%>">
						<span class="material-input"></span>

					</div>



					<button type="submit" class="btn btn-white">
						Search
						<i class="material-icons"></i><div class="ripple-container"></div>
					</button>
					</div>
			</form>
	</div>

	<% if !@talent.nil?%>

	<div class="row">


            <% @talent.each do |talent| %>
                  <div class="col-md-3">
                  <%= link_to company_show_talent_path(company_id:@company.slug, id:talent.id) do %>
                        <div class="content">
                            <div class="card card-user text-center" data-toggle="modal" data-target="#video-<%= talent.id %>" data-backdrop="static" >
                             <br>
                                <div class="dq-center-video">
                                 <% if  !@user.a_dp.file.nil? %>
                                    <img src="<%=@user.a_dp.url %>"  style = "border-radius: 50%;" />                     
                                  <% else %>

                                        <%= image_tag('avatar.png', class:"avatar border-white", style: "margin-right: 0; margin-bottom: 0px;", alt:"...") %>

                                  <% end %>
                                </div>
                                <div >
                                   <span class="statss"> <%= truncate( talent.name , :length => 23) %>  </span><br>
                                  <span class="text-info">
                                    <small> <%= truncate( talent.email , :length => 23) %>  </small>
                                  </span>

                                </div>
                               </div>
                        </div>

                  </div>
                  <%end%>
              <% end %>
            </div>
            <div class="center" ><%= will_paginate @talent %></div>
          </div>
	<%end%>


 </div>
</div>
</div>



