<style>

#tabs .ui-tabs-nav { 
    padding: 0em; 
    background: transparent; 
    border-width: 0px; 
} 
#tabs .ui-tabs-nav li { 
    position: static; 
    margin: 0px; 
    border-bottom: 1px solid #DA291C !important; 
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px; 
} 
#tabs .ui-tabs-nav li:first-child { 
    -moz-border-radius: 6px 0px 0px 6px; 
    -webkit-border-radius: 6px 0px 0px 6px; 
    border-radius: 6px 0px 0px 6px; 
} 
#tabs .ui-tabs-nav li:last-child { 
    -moz-border-radius: 0px 6px 6px 0px; 
    -webkit-border-radius: 0px 6px 6px 0px; 
    border-radius: 0px 6px 6px 0px; 
} 
#tabs .ui-tabs-nav li.ui-tabs-selected { 
    padding-bottom: 0px; 
    border-bottom: 1px solid #d4ccb0 !important; 
}

 .btn {
    display: inline-block;
    margin-bottom: 15px;
}

h4 {
      margin: 8px 0 0px;
}
.card-user hr {
    margin: 20px 20px;
}

.nav-util{
  display: inline-block;
}

.nav-utility::before {
  content:'\2022';
  margin: 0 5px;
  padding-right: 2px;
}


.form-control {
    background-color: #FFFFFF;
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    box-shadow: none;
    color: #444444;
    height: 38px;
    padding: 6px 16px;
}
.form-search .form-control-search {
    background-color: rgba(121,121,121,0.55);
    box-shadow: none;
    border: medium none;
    border-radius: 30px;
    box-shadow: 0 0 0;
    color: #FFFFFF;
    display: block;
    font-size: 20px;
    font-weight: 300;
    height: 50px;
    line-height: 1.42857;
    padding: 6px 20px;
    vertical-align: middle;
    transition: background-color .2s;
}

textarea.note {
 background: url(http://i.stack.imgur.com/ynxjD.png) repeat-y;
 width: 100%;
 height: 300px;
 font: normal 14px verdana;
 line-height: 25px;
 padding: 2px 10px;
 border: solid 1px #ddd;
}

.loading{
   width: 100%;
   height: 70%;
   top: 0px;
   left: 0px;
   position: absolute;
   opacity: .9;
   background-color: #fff;
   z-index: 99;
   text-align: center;
}

#symbol{
    position: absolute;
    top: 50%;
}
</style>
<div class="wrapper">
    <div class="sidebar" data-background-color="white" data-active-color="success">

<!-- TODO Add Sidebar Panel -->
     <%= render partial: "companies/sidebar" %>
    <div class="main-panel">
<!-- TODO Add Navbar Panel -->
    <%= render partial: "users/navbar" %>

   <div class="formatting">
	    	<form class="navbar-form center" role="search" method="GET" action="/companies/<%= @company.slug %>/talent" >

                    <div class="row" col-xs-12 col-sm-12 col-md-12 col-lg-12>
					<div class="form-group  is-empty" col-xs-3 col-sm-3 col-md-3 col-lg-3 >
					<select name='category' value='<%= params[:category]%>'>
					<option>Any</option>>
						<% @cand_cat = ""%>
	                   <% if params[:category].present? %>
	                   <% @cand_cat = params[:category]%>
	                   <%end%>
	                   <% @search_category.each do |cat|%>
	                   <% if cat == @cand_cat %>
	                    <option selected='selected' ><%=  cat %></option>
	                    <%else%>
	                   <option><%=  cat %></option>
                      <%end%>
                      <%end%>
				   </select>
						<input type="text" class="form-control" name="search" placeholder="Enter a key word" value="<%= params[:search]%>">
						<span class="material-input"></span>

					</div>

					<div class="form-group  is-empty" col-xs-3 col-sm-3 col-md-3 col-lg-3 >
					<select name='category2' value='<%= params[:category2]%>'>
					<option>Any</option>>
						<% @cand_cat2 = ""%>
	                   <% if params[:category2].present? %>
	                   <% @cand_cat2 = params[:category2]%>
	                   <%end%>
	                   <% @search_category.each do |cat2|%>
	                   <% if cat2 == @cand_cat2 %>
	                    <option selected='selected' ><%=  cat2 %></option>
	                    <%else%>
	                   <option><%=  cat2 %></option>
                      <%end%>
                      <%end%>
				   </select>
						<input type="text" class="form-control" name="search2" placeholder="Enter a key word" value="<%=params[:search2]%>" >
						<span class="material-input"></span>

					</div>

					<div class="form-group  is-empty" col-xs-3 col-sm-3 col-md-3 col-lg-3 >
					<select name='category3' value='<%= params[:category3]%>'>
					<option>Any</option>>
						<% @cand_cat3 = ""%>
	                   <% if params[:category3].present? %>
	                   <% @cand_cat3 = params[:category3]%>
	                   <%end%>
	                   <% @search_category.each do |cat3|%>
	                   <% if cat3 == @cand_cat3 %>
	                    <option selected='selected' ><%=  cat3 %></option>
	                    <%else%>
	                   <option><%=  cat3 %></option>
                      <%end%>
                      <%end%>
				   </select>
						<input type="text" class="form-control" name="search3" placeholder="Enter a key word" value="<%=params[:search3]%>">
						<span class="material-input"></span>

					</div>



					<button type="submit" class="btn btn-white">
						Search
						<i class="material-icons"></i><div class="ripple-container"></div>
					</button>
					</div>
			</form>
	</div>

	<% if !@talent.nil?%>

	<div class="row">


            <% @talent.each do |talent| %>
                  <div class="col-md-3 " id="<%=talent.id%>"  >

                        <div class="content">
                            <div class="card card-user text-center" data-toggle="modal" data-target="#video-<%= talent.id %>" data-backdrop="static"  data-id="<%= talent.id %>">
                             <br>
                                <div class="dq-center-video">
                                 <% if  !talent.a_dp.file.nil? %>
                                    <img src="<%=@talent.a_dp.url %>"  style = "border-radius: 50%;" />
                                  <% else %>

                                        <%= image_tag('avatar.png', class:"avatar border-white", style: "margin-right: 0; margin-bottom: 0px;", alt:"...") %>

                                  <% end %>
                                </div>
                                <div >
                                   <span class="statss"> <%= truncate( talent.name , :length => 23) %>  </span><br>
                                  <span class="text-info">
                                    <small> <%= truncate( talent.email , :length => 23) %>  </small>
                                  </span>

                                </div>
                               </div>
                        </div>

                  </div>
                  <%end%>

            </div>
            <div class="center" ><%= will_paginate @talent %></div>
          </div>
	<%end%>


 </div>
</div>
</div>


<!-- Modals begin -->

<% @talent.each do|talent|%>
<div class="modal fade answer" id="video-<%= talent.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
<!--  side button for modal -->
       <!-- Controls -->
         <a class="left carousel-control btn-prev" href="#" >
             <span class="glyphicon glyphicon-chevron-left"></span>
         </a>
         <a class="right carousel-control btn-next " href="#" >
             <span class="glyphicon glyphicon-chevron-right"></span>
         </a>
         <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
           <div class="modal-header">
           <%= talent.name %>(<%= talent.email%>)
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
           </div>
           <div class="modal-body">
            <div class="txt-center major-view centralize" >
            <div id="loading">
            <i id="symbol"></i>
           </div>
           <strong><h5 id="question-video-<%=talent.id %>-sly">

           </h5>
           </strong>
           <div id="<%= talent.id%>" class="centralize-video">
           <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-xs-12">
                        <div class="card card-user">
                            <div class="image">
                                <%= image_tag('background.jpg') %>
                            </div>
                             <div class="content">

                                <div class="author">
                                 <% if talent.a_dp.file.nil? %>
                                    <%= image_tag('default-avatar.png', class:"avatar border-white", alt:"...") %>
                                  <% else %>
                                    <img src="<%=@talent.a_dp.url %>"  class="avatar border-white" alt="..." />
                                  <% end %>
                                  <h3 class="title"><%= talent.name %></h3>
                                  <h4 class="nav-util"><span class="fa fa-envelope" aria-hidden="true"></span>  <%= talent.email %></h4>
                                  <h4 class="nav-util nav-utility"><span class="fa fa-phone" aria-hidden="true"></span>  <%= talent.telephone %></h4>
                                  <h4><span class="fa fa-map-marker" aria-hidden="true"></span>  <%= talent.address %></h4>
                                  <h4 class="nav-util"><%= talent.city %></h4>
                                  <h4 class="nav-util nav-utility"><%= talent.country %></h4>
                                </div>


                                <p class="description text-center">
                                    <%= talent.about_me %>
                                </p>

                            </div>
                            <hr>
                            <div class="text-center">
                                <div class="row">
                                    <div class="col-md-3 col-md-offset-1">
                                        <div class="icon-big icon-info text-center">
                                            <i class="ti-twitter-alt"></i>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="icon-big icon-linkedin text-center">
                                            <i class="ti-linkedin"></i>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="icon-big icon-github text-center">
                                            <i class="ti-github"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

            <div class="card">
                         <!-- Beginning of card details -->

                         <p class="description text-center">
                            <% if talent.status  == 0 %>
                            <br>
                              Status: Applicant
                            <% elsif talent.status  == 1 %>
                            <br>
                              Status: Interviewer
                            <% end %>
                            <br>
                        </p>

                        <div class="text-center">
                            <div class="row">
                             <% if talent.submissions.length > 0 %>
                                <div class="col-md-6 col-xs-6">
                                   <%= link_to user_timeline_path(current_user) do %>
                                      <h5><%= talent.submissions.length %><br><small>Application(s)</small></h5>
                                   <% end %>
                                </div>
                             <% end %>
                             <% if talent.companies.length > 0 %>
                                <div class="col-md-6 col-xs-6">


                                <% if talent.last_company.nil? %>
                                      <%= link_to company_path(talent.companies.first) do %>
                                      <h5><%= talent.companies.length %><br><small> Organization(s)</small></h5>
                                   <% end %>
                                <% else %>
                                     <% company = Company.friendly.find(talent.last_company) %>
                                      <%= link_to company_path(company) do %>
                                        <h5><%= talent.companies.length %><br><small> Organization(s)</small></h5>
                                   <% end %>
                                <% end %>

                                </div>
                             <% end %>

                            </div>
                        </div>

                         <!-- end of card details here -->
            </div>


                    </div>



                </div>
            </div>
        </div>
           </div>
           </div>
           <!-- <div class="wrap" >
              <div class="scrollbar">
                <div class="handle">
                  <div class="mousearea"></div>
                </div>
             </div>
            <div class="frame" id="video-<%= talent.id%>-sly" submission-id="<%= talent.id%>" triggered="true">
              <ul class="clearfix">
               <li question-type="2"> <div class="round-tab glyphicon glyphicon-cloud-upload"><span></span></div> </li>
              </ul>
           </div>
          </div> -->
      </div>

      <!-- <div class="modal-footer">
            <ul class="pager">
                  <li class="previous"><button type="button" class="btn btn-default btn-prev">Prev</button></li>
                    <li class="next"><button type="button" class="btn btn-default btn-next">Next</button></li>
            </ul>
        </div> -->

</div>
</div>
</div>


<%end%>












<script>
 var height ;
  var width ;

 $('.modal').on('shown.bs.modal', function (e) {
     // check if target is undefine or null
     if (e.relatedTarget){
        var cardView = $(e.relatedTarget); // cardView that triggered the modal
        var idToTrigger = cardView.data('target');
        //var idToTrigger2 = cardView.data('id');
     } else {
        var idToTrigger = "#" +  e.target.id;
        //var idToTrigger2 = e.target.id;
        //console.log(" print the one from next");
        //console.log(idToTrigger);
     }
      (function () {
        var $frame = $(idToTrigger+"-sly");
        var $wrap  = $frame.parent();
        var $slidee = $frame.children('ul').eq(0);

        // Call Sly on frame
        $frame.sly({
          horizontal: 1,
          itemNav: 'basic',
          smart: 1,
          activateMiddle: 1,
          activateOn: 'click',
          mouseDragging: 1,
          touchDragging: 1,
          releaseSwing: 1,
          startAt: 0,
          scrollBar: $wrap.find('.scrollbar'),
          scrollBy: 1,
          speed: 300,
          elasticBounds: 1,
          easing: 'easeOutExpo',
          dragHandle: 1,
          dynamicHandle: 1,
          clickBar: 1
        });

      // this will trigger at first before anything is being clicked
        if ($frame.attr("triggered") == "true"){
           var submissionId = $frame.attr("submission-id");
           var contentId = "#content-"+$frame.attr('id');
           //var Id = idToTrigger;
           var questionId = "#question-"+$frame.attr('id');
           var liObject = $frame.find('li')[0];
           var questionType = liObject.getAttribute("question-type");
           if (questionType){
            //idToTrigger.html("Mr"+idToTrigger);
            console.log(idToTrigger);
           }
           $frame.attr("triggered", false);
        }
     }());



    $('.frame').sly('on', 'active', function(eventName, itemIndex){
           var thisFrame = $(this)[0].frame ;
           var submissionId = thisFrame.getAttribute("submission-id");
           var contentId = "#content-"+thisFrame.id;
           var questionId = "#question-"+thisFrame.id;
           var questionType = thisFrame.children[0].children[itemIndex].getAttribute("question-type");
           if (questionType == "1"){
              replaceVideo(thisFrame.children[0].children[itemIndex].getAttribute("token"),thisFrame.children[0].children[itemIndex].getAttribute("question"), questionId ,contentId);

           } else{
              replaceTextFile(submissionId, itemIndex, questionType, questionId, contentId);
           }
     });

});






















// $(document).ready(function(){

//   $(".sulphur").click(function(e){
//   e.preventDefault();
//   var current = $(this);
//   var id = current.attr('id');
//   alert("Your Id is "+id);
//   });



// });

 // lazy load images
  $("img.lazy").show().lazyload({
    effect : "fadeIn"
  });


$(".btn-next").click(function(){
    var currentModal = $(this).parents("div.modal.answer");
    var next = currentModal.next();
    if (next){
        currentModal.modal('hide');
        next.modal('show');
    }
});

$(".btn-prev").click(function(){
    var currentModal = $(this).parents("div.modal.answer");
    var prev = currentModal.prev();
    //console.log(prev);
    if (prev){
        currentModal.modal('hide');
        prev.modal('show');
    }

});



</script>



