
<div class="wrapper">
    <div class="sidebar" data-background-color="white" data-active-color="danger">

<!-- TODO Add Sidebar Panel -->
    <%= render partial: "sidebar" %>
    <div class="main-panel ">
<!-- TODO Add Navbar Panel -->
    <%= render partial: "users/navbar" %>
        <div class="content card-start ">
            <div class="container-fluid">


               <!-- when empty -->
            <% if @all_interview.length == 0  %>
             <%= render partial: "when_empty" %>
            <% end %>

                <div class="row" >

                  <% @all_interview.each do |interview| %>
                  <% unfinish_submission = interview.submissions.where("current_no < ?", 500) %>
                  <% submissions = interview.submissions.where(current_no: 500) %>

                      <div class=" col-md-4">
                          <div class="img-responsive card box-shape">
                            
                              <div class="content">
                                    <div class="row">
                                      <div class="col-xs-8">
                                        <div class="stats">
                                         Interview token: <%= interview.interview_token %>
                                        </div>    
                                      </div>   
                                      <div class="col-xs-4">                                        
                                        <a href="<%= company_interview_path(id: interview.slug, company_id: @company.id) %>" rel="tooltip"  class="btn btn-info btn-simple " data-original-title="View Interview">
                                            <i class="ti-image"></i>
                                        </a>  | 
                                        <a href="<%= edit_company_interview_path(id: interview.slug, company_id: @company.id) %>" rel="tooltip" class="btn btn-success btn-simple" data-original-title="Edit Interview">
                                            <i class="ti-pencil-alt"></i>
                                        </a>
                                      </div>
                                    </div>
                                        <hr>
                                    
                                <a  href= "<%= company_interview_single_path(company_id: @company.slug, interview_id: interview.slug ) %>" >
                                      <div class="text-center numbers-1">
                                         <p><%= truncate( interview.title, :length => 35) %> </p>
                                          <%= submissions.length %>
                                        <br>
                                      </div>
                                  <div class="chart-legend">
                                       <br> <i class="fa fa-circle text-danger"></i> Unfinished: <%= unfinish_submission.length %>
                                       
                                       <br><i class="fa fa-circle text-warning"></i> No of question : <%= interview.questions.length %>
                                    </div>
                                </a>
                              </div>                  
                          </div>
                      </div>
  
                  <% end %>
                </div>

            </div>
        </div>

    </div>
    </div>
</div>


