
<div class="wrapper">
    <div class="sidebar" data-background-color="white" data-active-color="danger">

<!-- TODO Add Sidebar Panel -->
    <%= render partial: "sidebar" %>
    <div class="main-panel ">
<!-- TODO Add Navbar Panel -->
    <%= render partial: "users/navbar" %>
        <div class="content card-start ">
            <div class="container-fluid">


               <!-- when empty -->
            <% if @all_interview.length == 0  %>
             <%= render partial: "when_empty" %>
            <% end %>

                <div class="row" >

                  <% @all_interview.each do |interview| %>
                  <% unfinish_submission = interview.submissions.where("current_no < ?", 500) %>
                  <% submissions = interview.submissions.where(current_no: 500, status:nil) %>
                  <% questions = interview.questions.length%>
                  <% shortlisted = Submission.where(interview_id:interview.id).where(status:0).length %>
                  <% rejected = Submission.where(interview_id:interview.id).where(status:2).length %>
                      <div class="col-md-4">
                          <div class="img-responsive card box-shape">

                              <div class="content">
                                    <div class="row">
                                      <div class="col-xs-8">
                                        <div class="stats">
                                         Interview token: <%= interview.interview_token %>
                                        </div>
                                      </div>
                                      <div class="col-xs-4">
                                        <a href="<%= company_interview_path(id: interview.slug, company_id: @company.id) %>" rel="tooltip"  class="btn btn-info btn-simple " data-original-title="View Interview">
                                            <i class="ti-image"></i>
                                        </a>  |
                                        <a href="<%= edit_company_interview_path(id: interview.slug, company_id: @company.id) %>" rel="tooltip" class="btn btn-success btn-simple" data-original-title="Edit Interview">
                                            <i class="ti-pencil"></i>
                                        </a>
                                      </div>
                                    </div>
                                        <hr>

                                      <div class="text-center numbers-1">

                                <a  href= "<%= company_interview_single_path(company_id: @company.slug, interview_id: interview.slug ) %>" >
                                         <p><%= truncate( interview.title, :length => 35) %> </p>
                                          <%= submissions.length %>
                                        <br>
                                </a>
                                      </div>
                                      <hr>
                                  <div class="chart-legend">
                                      <div class="row">
                                          <div class="col-md-4 col-xs-4">
                                            <div class="icon-big icon-warning text-center" style="
    font-size: 1em;">
                                               Question<i class="ti-help"></i><hr>
                                               <h4><%= questions %></h4>
                                            </div>
                                          </div>
                                          <vr />
                                          <div class="col-md-4 col-xs-4">
                                            <div class="icon-big icon-success text-center" style="
    font-size: 1em;">
<%= link_to company_interview_filtered_single_interview_path(params[:company_id] || params[:id], c: 3, status: 0, interview_id: interview.slug) do %>

                                               Shortlisted<i class="ti-check"></i><hr>
                                               <h4><%= shortlisted %></h4>
                                            <% end %>


                                            </div>
                                          </div>
                                          <div class="col-md-4 col-xs-4">
                                            <div class="icon-big icon-danger text-center" style="
    font-size: 1em;">

                    <%= link_to company_interview_filtered_single_interview_path(params[:company_id] || params[:id], c: 5, status: 2, interview_id: interview.slug) do %>
                       
                                               Declined<i class="ti-close"></i><hr>
                                               <h4><%= rejected %><h4>
                    <% end %>
                                            </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>                  
                          </div>
                      </div>
  
                  <% end %>
                </div>

            </div>
        </div>

    </div>
    </div>
</div>


