<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Application Interview </title>

     <%= favicon_link_tag 'dqfav.png' %>
  	 <%= stylesheet_link_tag 'application', 'material-boostrap' %>
	   <%= stylesheet_link_tag 'applicants' %>

	  <!-- Material Design Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', 'material-boostrap', 'notify.min' %> 
	
</head>
<body >


<%= yield %>

<%= javascript_include_tag 'applicants' %> 
<script >


  (function() {
    'use strict';

    <% if !@company.properties.nil?  %>
    var companyCustomization = {
      name: '<%= @company.name %>',
      primaryColor: '<%= @company.properties["primaryColor"] %>',
      // backgroundImageUrl: '<%= @company.image.url %>',
      heroText: "<%= @company.properties["heroText"] %>",
      subHeroText: "<%= @company.properties["subHeroText"] %>",
      preCtaText: "<%= @company.properties["preCtaText"] %>",
      ctaButton: "<%= @company.properties["ctaButton"] %>",
      contactInfo: "<%= @company.properties["contactInfo"] %>"
    };
    <% else %>
      
    var companyCustomization = {
        name: '<%= @company.name %>',
        primaryColor: '#5e337b',
        heroText: $('.dq-hero-heading').text(),
        subHeroText: $('.dq-hero-subheading').text(),
        preCtaText: $('.dq-pre-cta').text(),
        ctaButton: $('.dq-btn-start-interview').text(),
        contactInfo: $('.dq-company-contact').text()
    };

    <% end %>

      setProperites(companyCustomization, <%= @editable %>);

  }).call(this);


  // auto style and replace in contact
  var contact = $(".dq-company-contact").text();
  var email_regex = /([a-zA-Z0-9._-]+@[a-zA-Z0-9._-]+\.[a-zA-Z0-9._-]+)/gi;
  var result = contact.replace(email_regex,'<a href="mailto:$1">$1</a>');
  $(".dq-company-contact").html(result);

</script>



</body>
</html>


