<!DOCTYPE html>
<html>
<head>
  <title>DropQue</title>
    <%= favicon_link_tag 'dqfav.png' %>
	  <%= stylesheet_link_tag    'application', 'material', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'material', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
<meta name="viewport" content="width=device-width, initial-scale=1"/>

<!--     Fonts and icons     -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
  <%= javascript_include_tag 'modernizr.custom' %>
</head>


<body class="index-page">














<!-- Load Facebook SDK for JavaScript -->
  <script>
   window.fbAsyncInit = function() {
    FB.init({
      appId      : '955382917904238',
      xfbml      : true,
      version    : 'v2.7'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));



  </script>


<!-- Navbar -->
<nav class="navbar navbar-transparent navbar-fixed-top navbar-color-on-scroll">
  <div class="container">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-index">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
            <div class="logo-container">
                  <a href="/" class="logo">
                      <%= image_tag('dqbeta.png')%>
                  </a>                    
        </div>
          </a>
      </div>

      <div class="collapse navbar-collapse" id="navigation-index">
        <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="https://play.google.com/store/apps/details?id=com.dropque.app" class="btn" target="_blank">
            <i class="material-icons">cloud_download</i> Download the app
          </a>
        </li>
        <li>
          <%= link_to new_user_session_path, {:class => 'btn'} do %>
            <i class="material-icons">account_box</i> Log in
          <% end %>
        </li> 
               <!--  <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="material-icons">account_box</i>Sign in
            <b class="caret"></b>
          </a>
                  <ul class="dropdown-menu dropdown-menu-right">
                     <li>
                  <%= link_to new_user_session_path do %>
                    Applicant Sign in
                  <% end %>         
                </li>
                 <li class="divider"></li>
                       <li>
                <%= link_to new_user_session_path do %>
                 Recruiter Sign in
              <% end %>         
            </li>
                    </ul>
              </li> -->

<!--        <li>
          <a class="btn btn-primary btn-raised btn-raised" style="background-color: white; color: #5e337b"><strong>Recruiter Sign up</strong></a>
        </li> -->
        <li>
          <%= link_to new_user_registration_path, {:style => 'background-color: white; color: #5e337b;', :class => 'btn btn-primary btn-raised'} do %>
            <strong>Sign up</strong>
          <% end %>
        </li> 
        </ul>
      </div>
  </div>
</nav>
<!-- End Navbar -->





<body  class="homepage-body">


<%= yield %>



<script type="text/javascript">
  document.getElementById('fbshareBtn').onclick = function() {
    FB.ui({
      method: 'share',
      display: 'popup',
      href: 'http://dropque.com',
    }, function(response){});
  }

    $(document).ready(function(){
      // the body of this function is in assets/material-kit.js
      materialKit.initSliders();
      $(window).on('scroll', materialKit.checkScrollForTransparentNavbar);

            window_width = $(window).width();

            if (window_width >= 768){
                big_image = $('.wrapper > .header');

        $(window).on('scroll', materialKitDemo.checkScrollForParallax);
      }

    });
  </script>



<%= javascript_include_tag 'classie' %>
<%= javascript_include_tag 'main' %>

<script>
      (function() {
        new Slideshow( document.getElementById( 'slideshow-1' ) );
        setTimeout( function() {
          new Slideshow( document.getElementById( 'slideshow-2' ) );
        }, 1750 );

        /* Mockup responsiveness */
        var body = docElem = window.document.documentElement,
          wrap = document.getElementById( 'wrap' ),
          mockup = wrap.querySelector( '.mockup' ),
          mockupWidth = mockup.offsetWidth;

        scaleMockup();

        function scaleMockup() {
          var wrapWidth = wrap.offsetWidth,
            val = wrapWidth / mockupWidth;

          mockup.style.transform = 'scale3d(' + val + ', ' + val + ', 1)';
        }
        
        window.addEventListener( 'resize', resizeHandler );

        function resizeHandler() {
          function delayed() {
            resize();
            resizeTimeout = null;
          }
          if ( typeof resizeTimeout != 'undefined' ) {
            clearTimeout( resizeTimeout );
          }
          resizeTimeout = setTimeout( delayed, 50 );
        }

        function resize() {
          scaleMockup();
        }
      })();
    </script>
</body>
</html>