<!DOCTYPE html>
<html>
<head>
  <title>DropQue</title>
    <%= favicon_link_tag 'dqfav.png' %>
	  <%= stylesheet_link_tag    'application', 'material', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'material', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
<meta name="viewport" content="width=device-width, initial-scale=1"/>

<!--     Fonts and icons     -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
  <%= javascript_include_tag 'modernizr.custom' %>
</head>


<body class="index-page">





<%= yield %>





</body>
</html>